* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.italic {
  font-style: italic;
  font-family: var(--editorial-new);
}

body {
  background-color: #000000;
  font-family: var(--sf-pro);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: var(--sf-pro);
}

/* custom-scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--description-text);
  border-radius: 10px;
}

/* global css */
:root {
  --highlight-text: rgb(245, 245, 247);
  --description-text: rgb(134, 134, 134);
  --gray-background: rgb(22, 22, 23);
}
