@font-face {
  font-family: "Editorial New";
  src: url("/fonts/PPEditorialNew-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/fonts/SF-Pro-Display-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.italic {
  font-family: "Editorial New";
}

body {
  background-color: #000000;
}

a {
  text-decoration: none;
  color: inherit;
}

/* custom-scrollbar */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--description-text);
  border-radius: 10px;
}

/* global css */
:root {
  --highlight-text: rgb(245, 245, 247);
  --description-text: rgb(134, 134, 134);
  --gray-background: rgb(22, 22, 23);
}
.divider {
  border-color: rgba(255, 255, 255, 0.08);
}

.divider.content {
  border-color: rgba(255, 255, 255, 0.08);
  margin: 10rem 0;
}
