<main>
  <section class="home">
    <div class="heading-wrapper">
      <h1>The page cannot be found.</h1>
      <div class="ext-link">
        <a href="https://andyduong.work">Go Home ↗ </a>
      </div>
    </div>
  </section>
</main>

<style>
  body {
    background-color: black;
  }

  .home {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
  }

  .heading-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 300px 0 200px 0;
  }

  h1 {
    font-size: 64px;
    line-height: 1.1;
    color: rgb(245, 245, 247);
    font-weight: 500;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
    text-align: center;
    font-family: "SF Pro Display";
  }

  .ext-link {
    font-size: 21px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 0.8rem 1rem;
    font-family: "SF Pro Display";
    text-align: center;
  }

  .ext-link a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
  }

  .ext-link:hover {
    text-decoration: underline;
  }
</style>
