---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Andy Duong"
  description="Hello! I'm Andy Duong — Product Designer based in the Bay Area. I craft meaningful narratives fueled by my passion for music and art."
  canonical="https://andyduong.work"
>
  <script>
    document.addEventListener("astro:page-load", () => {
      gsap.fromTo(
        ".fadeup",
        {
          opacity: 0,
          y: 25,
        },
        {
          opacity: 1,
          y: 0,
          duration: 0.5,
          ease: "cubic-bezier(0,0,0.5,1)",
        }
      );

      gsap.fromTo(
        ".home-fadeup",
        {
          opacity: 0,
          y: 50,
        },
        {
          opacity: 1,
          y: 0,
          duration: 1,
          ease: "cubic-bezier(0,0,0.5,1)",
        }
      );
    });
  </script>
  <main>
    <section class="home">
      <div class="heading-wrapper">
        <h1 class="">
          <span class="italic">hello!</span>
          I'm Andy Duong<br /> Product Designer in the Bay Area<br />
        </h1>
        <div class="heading-description fadeup">
          Scroll down to discover<span class="arrow">↓</span>
        </div>
      </div>
    </section>
    <section class="project-section home-fadeup">
      <ul class="project-wrapper">
        <li class="project">
          <a href="/spotify-party">
            <div class="project-content">
              <div class="project-bg">
                <img src="images/spotify/spotifythumbnail.webp" alt="" />
              </div>
              <div class="project-details">
                <p class="project-title">Spotify Party</p>
                <div class="project-description">
                  Enhancing the group listening experience for an immersive
                  music exploration
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="project">
          <a href="/sorette">
            <div class="project-content">
              <div class="project-bg">
                <img src="images/sorette/sorettethumbnail.webp" alt="" />
              </div>
              <div class="project-details">
                <p class="project-title">sorette</p>
                <div class="project-description">
                  Cloud sharing platform streamlining music collaboration with
                  others
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="project">
          <a href="/mechmarket">
            <div class="project-content">
              <div class="project-bg">
                <img src="images/mechmarket/mechmarketthumbnail.webp" alt="" />
              </div>
              <div class="project-details">
                <p class="project-title">mechmarket</p>
                <div class="project-description">
                  Mobile marketplace app dedicated to buying and selling
                  keyboard related products
                </div>
              </div>
            </div>
          </a>
        </li>
        <li class="project">
          <a href="/dillo">
            <div class="project-content">
              <div class="project-bg">
                <img src="images/dillo/dillothumbnail.webp" alt="" />
              </div>
              <div class="project-details">
                <p class="project-title">Dillo</p>
                <div class="project-description">
                  Integrating ASL into family bedtime reading to support deaf
                  and hard of hearing children
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </section>
  </main>
</Layout>
<style>
  :root {
    --conditional-footer: rgb(0, 0, 0);
  }

  .home {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
  }

  .heading-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 300px 0 200px 0;
  }

  h1 {
    font-size: 64px;
    line-height: 1.1;
    color: var(--highlight-text);
    font-weight: 500;
    text-decoration: none;
    user-select: none;
    text-align: center;
  }

  .heading-description {
    display: flex;
    color: var(--description-text);
    user-select: none;
    line-height: 29px;
    font-weight: 600;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    opacity: 0;
  }

  .project-description {
    color: var(--highlight-text);
    user-select: none;
    line-height: 25px;
    font-weight: 400;
    font-size: 19px;
    text-align: center;
  }

  .project-section {
    padding: 100px 0 0 0;
    margin: 0 auto;
    opacity: 0;
  }

  .project-wrapper {
    max-width: 2560px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    margin: 0 auto;
    padding: 0 25px;
  }

  .project {
    box-sizing: border-box;
    flex-wrap: wrap;
    min-width: 440px;
    width: calc(50% - 10px);

    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 1px solid #f5f5f715;
    background-color: #86868b10;

    transition: border-color 0.3s ease;
  }

  .project:hover {
    border: 1px solid #f5f5f725;
  }

  .arrow {
    animation: arrow 3s infinite;
    padding: 0 0.5rem;
    color: var(--highlight-text);
  }

  @keyframes arrow {
    0% {
      transform: translateY(-5px);
      animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
    }
    40% {
      transform: translateY(5px);
      animation-timing-function: cubic-bezier(0.8, 0, 0.5, 1);
    }
    100% {
      transform: translateY(-5px);
      animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
    }
  }

  .project-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
  }

  .project-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    z-index: 1;
    width: 100%;
    padding: 36px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .project-bg {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    filter: brightness(75%);
  }

  .project-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .project-title {
    position: relative;
    color: var(--highlight-text);
    user-select: none;
    line-height: 1.1;
    font-weight: 600;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }

  .text-description {
    color: var(--description-text);
    user-select: none;
    line-height: 29px;
    font-weight: 600;
    font-size: 21px;
    flex: 1;
    font-weight: 600;
    display: inline;
  }

  .highlight {
    color: var(--highlight-text);
  }

  @media (max-width: 1777px) {
    .project-details {
      width: 100%;
    }
  }

  @media (max-width: 958px) {
    .heading-wrapper {
      padding: 300px 20px 200px 20px;
    }

    .project-wrapper {
      justify-content: center;
    }

    .heading-description,
    .project-description {
      font-size: 17px;
    }

    h1 {
      font-size: 48px;
    }
  }
</style>
