---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Andy Duong"
  description="Hello! I'm Andy Duong — Product Designer based in the Bay Area. I craft meaningful narratives fueled by my passion for music and art."
  canonical="https://andyduong.work"
>
  <main>
    <section class="home">
      <div class="heading-wrapper">
        <h1 class="hoverword">
          Hello! I'm Andy Duong <br />Product Designer in the Bay Area<br />
        </h1>
        <div class="heading-description">
          Scroll down to discover<span class="arrow">↓</span>
        </div>
      </div>
    </section>
    <section class="project-section">
      <ul class="project-wrapper">
        <li class="project">
          <a href="/spotify-party">
            <div class="project-content spotify">
              <p class="project-title">Spotify Party</p>
            </div>
          </a>
        </li>
        <li class="project">
          <div class="project-content sorette"></div>
        </li>
        <li class="project">
          <div class="project-content mechmarket"></div>
        </li>
      </ul>
    </section>
  </main>
</Layout>
<style>
  :root {
    --conditional-footer: rgb(29, 29, 31);
  }

  main {
    padding: 100px 0;
  }
  .home {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    margin: 0 auto;
  }

  .heading-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 200px 0;
  }

  h1 {
    font-size: 64px;
    line-height: 68px;
    color: var(--highlight-text);
    font-weight: 500;
    text-decoration: none;
    user-select: none;
  }

  .heading-description {
    color: var(--description-text);
    user-select: none;
    line-height: 29px;
    font-weight: 600;
    font-size: 21px;
    flex: 1;
    font-weight: 600;
    display: inline;
  }

  .project-section {
    background-color: var(--gray-background);
    width: 1160px;
    margin: 0 auto;
    border-radius: 44px;
  }

  .project-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    padding: 100px 100px;
  }

  .project {
    flex: 1 1 calc(50% - 10px); /* Make each project take up 50% width minus the gap */
    max-width: calc(50% - 10px);
    box-sizing: border-box;
    height: 480px;
  }

  .project-content {
    border-radius: 28px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .project:nth-child(2n + 1):nth-last-child(1) {
    margin-left: auto;
    margin-right: auto;
  }

  .project-title {
    position: relative;
    color: var(--highlight-text);
    user-select: none;
    line-height: 1.1;
    font-weight: 600;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 50px;
  }

  .text-description {
    color: var(--description-text);
    user-select: none;
    line-height: 29px;
    font-weight: 600;
    font-size: 21px;
    flex: 1;
    font-weight: 600;
    display: inline;
  }

  .highlight {
    color: var(--highlight-text);
  }

  .spotify {
    background-image: url("images/spotify/spotifythumbnail.webp");
  }

  .sorette {
    background-image: url("images/home/sorette-thumbnail.webp");
  }

  .mechmarket {
    background-image: url("images/home/mechmarket-thumbnail.webp");
  }
  /* animations */
  @keyframes arrow {
    0% {
      transform: translateY(-5px);
      animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
    }
    40% {
      transform: translateY(5px);
      animation-timing-function: cubic-bezier(0.8, 0, 0.5, 1);
    }
    100% {
      transform: translateY(-5px);
      animation-timing-function: cubic-bezier(0.6, 0, 0.4, 1);
    }
  }

  .arrow {
    animation: arrow 3s infinite;
    padding: 0 0.5rem;
  }
</style>
