---
import Layout from "../layouts/Layout.astro";
import {
  Refresh,
  ExpandDivider,
  ProjectSlideUp,
  Landingtext,
} from "../components/js/Animations.jsx";
---

<Layout
  title="Andy Duong"
  description="Hello! I'm Andy Duong — Product Designer based in the Bay Area. I craft meaningful narratives fueled by my passion for music and art."
>
  <Refresh client:only="react" />
  <Landingtext client:only="react" />
  <ProjectSlideUp client:only="react" />
  <ExpandDivider client:only="react" />
  <main>
    <div class="container">
      <button class="navigation-button">testing testing</button>
      <button class="external-link-button">External Link</button>
    </div>
    <div class="test"></div>
  </main>
</Layout>

<style>
  .test {
    margin: 0 auto;
    width: 2px;
    height: 100vh;
    background-color: blue;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 90rem;
    margin: 0 auto;
    justify-content: center;
  }

  .navigation-button {
    justify-self: center;
    margin: 0 auto; /* Ensure the button is centered */
    width: 10rem;
  }

  .external-link-button {
    justify-self: end;
  }
  .landing {
    position: relative;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    user-select: none;
    gap: 1rem;
    max-width: 90rem;
  }

  .landing-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  h1 {
    font-size: 3.5rem;
    color: #f5f5f7;
    user-select: none;
    font-weight: 530;
  }

  .title {
    font-size: 2.25rem;
    color: #f5f5f7;
    font-weight: 530;
  }

  .tag {
    font-size: 0.875rem;
    letter-spacing: 3px;
    color: #f5f5f788;
    font-weight: 400;
  }

  .landing-direct {
    color: #f5f5f7;
    font-size: 1.125rem;
    overflow: hidden;
    font-weight: 530;
    display: flex;
  }

  .project-wrapper {
    padding: 5rem 0;
    max-width: 90rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: space-between;
    margin: 0 auto;
    user-select: none;
    justify-content: center;
  }

  .project {
    display: flex;
    gap: 5rem;
    width: auto;
    padding: 3rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(1rem);
  }

  .project-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
  }

  .home-project-title {
    font-size: 2rem;
    color: #f5f5f7;
    text-decoration: none;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
  }

  . {
    font-size: 0.875rem;
    letter-spacing: 3px;
    color: #f5f5f788;
    font-weight: 400;
  }

  .text-description {
    color: #868686;
    user-select: none;
    line-height: 1.6;
    font-weight: 450;
    font-size: 1.125rem;
    flex: 1;
  }

  .thumbnail-container {
    object-fit: cover;
  }

  .thumbnail {
    max-width: 100%;
    object-fit: cover;
    user-select: none;
    border-radius: 1rem;
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }

  /* media queries */
  @media (max-width: 1500px) {
    /* Project Wrapper */
    .landing {
      padding: 10rem calc(2rem + 5%);
    }
  }

  @media (max-width: 970px) {
    /* Project Wrapper */
    .project {
      flex-direction: column;
      gap: 2rem;
    }

    .project-wrapper {
      gap: 0;
      padding: 1rem 0;
    }

    .thumbnail img {
      aspect-ratio: 1/1;
    }

    h1 {
      font-size: 2.5rem;
    }

    .landing-direct {
      font-size: 1rem;
    }
  }

  @media (max-width: 768px) {
    /* Project Wrapper */
    .landing {
      height: auto;
      min-height: 100dvh;
      padding: 6rem 0;
      position: relative;
      padding: 0 1rem;
    }

    .project {
      padding: 2rem 1rem;
      gap: 1.5rem;
    }

    .tag {
      font-size: 0.75rem;
    }

    .title {
      font-size: 2rem;
    }

    .text-description {
      font-size: 1rem;
    }
  }
</style>
