<main>
  <div class="landing">
    <div class="title">under construction</div>
    <div class="description">check back later thank u</div>
    <div class="video-container">
      <video width="100%" height="auto" autoplay loop muted playsinline>
        <source src="videos/spotify/spotifygroupsetting.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</main>
<style>
  main {
    background-color: black;
    margin: 0 0;
  }

  a {
    color: white;
  }

  .landing {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    text-align: center;
    height: 500vh;
    justify-content: center;
  }

  .video-container {
    width: 500px;
    height: auto;
    margin: 0 auto;
  }

  .title {
    font-size: 10rem;
    color: #f5f5f7;
    font-weight: 530;
    user-select: none;
  }

  .description {
    font-size: 1.5rem;
    color: #f5f5f7;
    user-select: none;
    height: 500vh;
  }
</style>
