---
import Layout from "../layouts/Layout.astro";
import ProjectNav from "../components/ProjectNav.astro";
import { ImageZoom } from "../components/js/ImageZoom.jsx";
---

<meta
  property="og:image"
  content="images/mechmarket/mechmarketthumbnail.webp"
/>
<Layout
  title="mechmarket | Andy Duong"
  description="Mobile marketplace app dedicated to buying and selling keyboard related products"
  canonical="https://andyduong.work/mechmarket"
>
  <script>
    // gsap
    import gsap from "gsap";
    document.addEventListener("astro:page-load", () => {
      gsap.fromTo(
        ".fadeup",
        {
          opacity: 0,
          y: 25,
        },
        {
          opacity: 1,
          y: 0,
          duration: 0.5,
          ease: "cubic-bezier(0,0,0.5,1)",
        }
      );
      gsap.fromTo(
        ".fadeup-d",
        {
          opacity: 0,
          y: 25,
        },
        {
          opacity: 1,
          y: 0,
          duration: 0.5,
          ease: "cubic-bezier(0,0,0.5,1)",
          delay: 0.1,
        }
      );
      // const elements = gsap.utils.toArray<HTMLElement>(".fadeup-st");

      // elements.forEach((element) => {
      //   gsap.fromTo(
      //     element,
      //     {
      //       opacity: 0,
      //       y: 25,
      //     },
      //     {
      //       opacity: 1,
      //       y: 0,
      //       duration: 0.5,
      //       ease: "cubic-bezier(0,0,0.5,1)",
      //       scrollTrigger: {
      //         trigger: element,
      //         start: "top 80%",
      //         end: "bottom 20%",
      //         toggleActions: "play none none reverse",
      //         markers: true,
      //       },
      //     }
      //   );
      // });

      gsap.fromTo(
        ".fadein",
        {
          opacity: 0,
        },
        {
          opacity: 1,
          duration: 2,
          ease: "cubic-bezier(0,0,0.5,1)",
        }
      );
    });

    // gsap flip
    // const words = document.querySelectorAll(".flip");

    // words.forEach((element) => {
    //   const wordsElement = element as HTMLElement; // Type casting to HTMLElement

    //   // Split text into words wrapped in span elements
    //   const textsplit = new SplitType(wordsElement, {
    //     types: "words",
    //     tagName: "span",
    //   });

    //   // Apply the GSAP animation with ScrollTrigger
    //   gsap.fromTo(
    //     textsplit.words, // Access the split words directly
    //     {
    //       opacity: 0,
    //       x: -5,
    //       rotationX: 100,
    //     },
    //     {
    //       opacity: 1,
    //       x: 0,
    //       rotationX: 0,
    //       scrollTrigger: {
    //         trigger: wordsElement,
    //         start: "top 80%",
    //         end: "bottom 20%",
    //         toggleActions: "play none none reverse",
    //       },
    //       duration: 0.5,
    //       stagger: 0.1, // Apply stagger correctly to animate each word
    //       ease: "cubic-bezier(0,0,0.5,1)",
    //     }
    //   );
    // });
    //carousel
    document.addEventListener("astro:page-load", () => {
      // Select all carousels on the page
      const carousels = document.querySelectorAll<HTMLElement>(".carousel");

      carousels.forEach((carousel) => {
        const prevButton = carousel.parentElement?.querySelector(
          ".prev-button"
        ) as HTMLElement;
        const nextButton = carousel.parentElement?.querySelector(
          ".next-button"
        ) as HTMLElement;
        let isScrolling = false;
        const scrollDuration = 700; // Duration of the scroll animation in milliseconds
        let isCarouselVisible = true;

        // Function to handle left arrow key press
        function handleLeftArrowKey() {
          if (!isScrolling && isCarouselVisible) {
            isScrolling = true;
            const scrollDistance =
              carousel.scrollLeft -
              (carousel.querySelector(".item") as HTMLElement).offsetWidth;
            carousel.scrollTo({
              left: scrollDistance,
              behavior: "smooth",
            });
            setTimeout(function () {
              isScrolling = false;
              checkButtonsState(); // Check button state after scrolling
            }, scrollDuration); // Adjust the time to match the duration of your scroll animation
          }
        }

        // Function to handle right arrow key press
        function handleRightArrowKey() {
          if (!isScrolling && isCarouselVisible) {
            isScrolling = true;
            const scrollDistance =
              carousel.scrollLeft +
              (carousel.querySelector(".item") as HTMLElement).offsetWidth;
            carousel.scrollTo({
              left: scrollDistance,
              behavior: "smooth",
            });
            setTimeout(function () {
              isScrolling = false;
              checkButtonsState(); // Check button state after scrolling
            }, scrollDuration); // Adjust the time to match the duration of your scroll animation
          }
        }

        prevButton?.addEventListener("click", function () {
          handleLeftArrowKey();
        });

        nextButton?.addEventListener("click", function () {
          handleRightArrowKey();
        });

        // Event listener for keyboard arrow keys
        document.addEventListener("keydown", function (event) {
          if (event.key === "ArrowLeft") {
            handleLeftArrowKey();
          } else if (event.key === "ArrowRight") {
            handleRightArrowKey();
          }
        });

        // Function to check and disable/enable prev/next buttons based on carousel position
        function checkButtonsState() {
          // Get the first and last slides
          const firstSlide = carousel.querySelector(
            ".item:first-child"
          ) as HTMLElement;
          const lastSlide = carousel.querySelector(
            ".item:last-child"
          ) as HTMLElement;

          if (!firstSlide || !lastSlide) return; // Ensure the slides exist

          // Check if the carousel is at the first slide
          if (carousel.scrollLeft <= firstSlide.offsetWidth) {
            prevButton?.classList.add("disabled");
          } else {
            prevButton?.classList.remove("disabled");
          }

          // Check if the carousel is at the last slide
          if (
            carousel.scrollLeft >=
            carousel.scrollWidth - carousel.offsetWidth - lastSlide.offsetWidth
          ) {
            nextButton?.classList.add("disabled");
          } else {
            nextButton?.classList.remove("disabled");
          }
        }

        // Initially check button state
        checkButtonsState();

        // Event listener for scroll events on the carousel
        carousel.addEventListener("scroll", function () {
          checkButtonsState(); // Check button state after scrolling
        });

        // IntersectionObserver to check if the carousel is fully visible
        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              isCarouselVisible = entry.isIntersecting;
            });
          },
          { threshold: 0.5 }
        );

        observer.observe(carousel);
      });
    });
    function setGalleryWidths() {
      const grayheading = document.querySelector(".grayheading");
      if (!grayheading) return;

      const computedStyle = window.getComputedStyle(grayheading);
      const paddingLeft = parseFloat(computedStyle.paddingLeft);
      const paddingRight = parseFloat(computedStyle.paddingRight);

      const grayheadingWidth =
        grayheading.clientWidth - (paddingLeft + paddingRight);
      const galleries =
        document.querySelectorAll<HTMLElement>(".image-gallery");

      galleries.forEach((gallery) => {
        gallery.style.width = `${grayheadingWidth}px`;
      });
    }

    // Set initial gallery widths
    setGalleryWidths();

    // Update gallery widths on window resize
    window.addEventListener("resize", setGalleryWidths);
  </script>
  <main>
    <ProjectNav
      prevLink="/sorette"
      prevText="sorette"
      nextLink="/dillo"
      nextText="Dillo"
    />
    <div class="project-header-wrapper">
      <picture class="project-thumbnail fadeup">
        <div class="project-header-details">
          <h1 class="">mechmarket</h1>
          <p class="heading-description">
            Mobile marketplace app dedicated to buying and selling keyboard
            related products
          </p>
        </div>
        <img
          class="def-image"
          src="images/mechmarket/mechmarketthumbnail.webp"
          alt=""
        />
        <img
          class="mobile-image"
          src="images/mechmarket/mobilethumbnail.webp"
          alt=""
        />
      </picture>
      <button class="project-button fadeup-d">
        <a
          href="https://www.figma.com/proto/o8NlugV7QcyQ7C078psBlQ/mechmarket?page-id=0%3A1&type=design&node-id=6-171&viewport=626%2C762%2C0.34&t=ilETHb1OZwM2IwUG-1&scaling=scale-down&starting-point-node-id=197%3A12181&mode=design"
          target="_blank"
          rel="noopener noreferrer"
        >
          View Prototype ↗
        </a>
      </button>
    </div>

    <article class="project-content-wrapper">
      <section class="overview">
        <div class="project-details">
          <ul class="list-container">
            <ul class="list-item">
              <p class="text-description highlight">Role</p>
              <p class="text-description">
                UX Design, User Research, Visual Design, Prototyping
              </p>
            </ul>
            <ul class="list-item">
              <p class="text-description highlight">Tools</p>
              <p class="text-description">
                Figma, Google Forms, Optimal Workshop, After Effects
              </p>
            </ul>
            <ul class="list-item">
              <p class="text-description highlight">Timeline</p>
              <p class="text-description">10 weeks (Mar - May 2023)</p>
            </ul>
          </ul>
          <ul class="list-container">
            <ul class="list-item">
              <p class="text-description highlight">Overview</p>
              <p class="text-description">
                mechmarket is a dedicated marketplace app where users can buy
                and sell keyboard related products. mechmarket currently thrives
                as a subreddit with close to 300,000 members. Recognizing the
                potential for improvement, I believe the development of a
                dedicated mobile app would not only streamline the buying and
                selling experience, but also unlock a plethora of new features
                that were previously hindred by the traditional scope of
                Reddit's functionality.
              </p>
            </ul>
          </ul>
        </div>
        <p class="grayheading inline fadeup-st">Product Overview</p>
        <ul class="carousel">
          <li>
            <div class="image-gallery">
              <ImageZoom
                options={{ background: "#000000" }}
                client:only="react"
                class="item"
                src="images/mechmarket/preview1.webp"
                draggable="false"
                width="100%"
                height="100%"
              />
            </div>
          </li>
          <li>
            <div class="image-gallery">
              <ImageZoom
                options={{ background: "#000000" }}
                client:only="react"
                class="item"
                src="images/mechmarket/preview2.webp"
                draggable="false"
                width="100%"
                height="100%"
              />
            </div>
          </li>
          <li>
            <div class="image-gallery">
              <ImageZoom
                options={{ background: "#000000" }}
                client:only="react"
                class="item"
                src="images/mechmarket/preview3.webp"
                draggable="false"
                width="100%"
                height="100%"
              />
            </div>
          </li>
          <li>
            <div class="image-gallery">
              <ImageZoom
                options={{ background: "#000000" }}
                client:only="react"
                class="item"
                src="images/mechmarket/preview4.webp"
                draggable="false"
                width="100%"
                height="100%"
              />
            </div>
          </li>
        </ul>
        <div class="carousel-buttons-wrapper">
          <ul class="carousel-buttons">
            <button class="prev-button disabled">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                <path
                  d="M21.559,12.062 L15.618,17.984 L21.5221,23.944 C22.105,24.533 22.1021,25.482 21.5131,26.065 C21.2211,26.355 20.8391,26.4999987 20.4571,26.4999987 C20.0711,26.4999987 19.6851,26.352 19.3921,26.056 L12.4351,19.034 C11.8531,18.446 11.8551,17.4999987 12.4411,16.916 L19.4411,9.938 C20.0261,9.353 20.9781,9.354 21.5621,9.941 C22.1471,10.528 22.1451,11.478 21.5591,12.062 L21.559,12.062 Z"
                ></path>
              </svg>
            </button>
            <button class="next-button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                <path
                  d="M23.5587,16.916 C24.1447,17.4999987 24.1467,18.446 23.5647,19.034 L16.6077,26.056 C16.3147,26.352 15.9287,26.4999987 15.5427,26.4999987 C15.1607,26.4999987 14.7787,26.355 14.4867,26.065 C13.8977,25.482 13.8947,24.533 14.4777,23.944 L20.3818,17.984 L14.4408,12.062 C13.8548,11.478 13.8528,10.5279 14.4378,9.941 C15.0218,9.354 15.9738,9.353 16.5588,9.938 L23.5588,16.916 L23.5587,16.916 Z"
                ></path>
              </svg>
            </button>
          </ul>
        </div>
      </section>
      <section class="project-section">
        <p class="grayheading fadeup-st">Final Solution</p>
        <div class="preview-wrapper">
          <div class="preview-header">
            <p class="subsection center">Keyboard Market, Simplified</p>
            <p class="text-description center">
              Simplfying the
              <span class="highlight"
                >keyboard marketplace experience at your fingertips</span
              >
            </p>
          </div>
          <div class="content-preview">
            <div class="content">
              <div class="video-container">
                <video
                  width="100%"
                  height="100%"
                  autoplay
                  loop
                  muted
                  playsinline
                >
                  <source
                    src="videos/mechmarket/mmmarketdata.mp4"
                    type="video/mp4"
                  />
                </video>
              </div>
              <div class="content-details">
                <p class="text-description flip">
                  <span class="highlight"
                    >Discover the latest market trends</span
                  >
                  to stay up-to-date with current pricing dynamics and make informed
                  decisions.
                </p>
              </div>
            </div>
            <div class="content reverse">
              <div class="video-container">
                <video
                  width="100%"
                  height="100%"
                  autoplay
                  loop
                  muted
                  playsinline
                >
                  <source
                    src="videos/mechmarket/mmoffer.mp4"
                    type="video/mp4"
                  />
                </video>
              </div>
              <div class="content-details">
                <p class="text-description flip">
                  <span class="highlight"
                    >Effortlessly streamline transactions by sending and
                    receiving offers</span
                  >, simplfying your deal-making process for optimal efficiency
                </p>
              </div>
            </div>
            <div class="content">
              <div class="video-container">
                <video
                  width="100%"
                  height="100%"
                  autoplay
                  loop
                  muted
                  playsinline
                >
                  <source
                    src="videos/mechmarket/mmfilters.mp4"
                    type="video/mp4"
                  />
                </video>
              </div>
              <div class="content-details">
                <p class="text-description flip">
                  Easily find the products you want with
                  <span class="highlight"
                    >intuitive filtering options to refine and personalize your
                    search</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="project-section">
        <div class="section-heading">
          <p class="grayheading fadeup-st">User Research</p>
          <p class="subsection center">
            Evaluating the buying and selling experience on the mechmarket
            subreddit
          </p>
        </div>
        <div class="project-content">
          <div class="content-details">
            <span class="title xlarge">First click test</span>
            <p class="text-description">
              In the initial phase, I assessed the ability of <span
                style="color: #e3e3e8;">8 participants</span
              > to navigate the mechmarket subreddit. Testing two distinct user flows,
              I aimed to determine their proficiency in complete a purchase or listing
              an item for sale. It's important to highlight that participants had
              no prior experience with the mechmarket subreddit in this specific
              test.
            </p>
          </div>
          <div class="image-wrapper">
            <img
              class="img-center"
              src="/images/mechmarket/surveyresults1.webp"
              alt=""
              draggable="false"
            />
            <div class="content-details">
              <p class="text-description center">
                Approximately <span style="color: #e3e3e8;">13%</span> of the users
                were able to complete both tasks. This insight suggests that the
                user flow may be too difficult for new users.
              </p>
            </div>
          </div>
          <div class="image-wrapper">
            <img
              class="img-center"
              src="/images/mechmarket/surveyresults2.webp"
              alt=""
              draggable="false"
            />
          </div>
          <div class="content-details padding">
            <div class="box">
              <p class="text-description">
                "I wasn't too familiar with buying and selling on Reddit. I only
                use it to browse content surrrounding communities that pique my
                interests. <span class="highlight">
                  Reddit is the last place I'd look at for marketplace
                  activities
                </span>"
              </p>
            </div>
            <div class="box">
              <p class="text-description">
                "Exploring community guides and rules provided insights, but as
                a new user, <span class="highlight">
                  the numerous steps felt overwhelming, making a smooth
                  experience seem intricate, especially on mobile
                </span>"
              </p>
            </div>
          </div>
        </div>
      </section>
    </article>
    <section class="project-section">
      <div class="section-heading">
        <p class="grayheading fadeup-st">Problem Statement</p>
        <p class="subsection center">
          How can our app redefine user experience beyond Reddit's challenges?
        </p>
      </div>
      <div class="border-box row">
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img
                src="images/mechmarket/icons/confused.webp"
                alt=""
                class="icon"
              />
            </div>

            <div class="content-vert">
              <p class="title large highlight">Lack of User Intuitiveness</p>
              <p class="text-description small">
                The buying and selling process on Reddit is not user friendly
                and poses challenges to new users
              </p>
            </div>
          </div>
        </div>
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img
                src="images/mechmarket/icons/shop.webp"
                alt=""
                class="icon"
              />
            </div>
            <div class="content-vert">
              <p class="title large highlight">Limited Functionality</p>
              <p class="text-description small">
                Reddit's platform is primarily designed for discussion rather
                than commerce. As a result, features and tools are limited
                compared to dedicated e-commerce platforms.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="project-section">
      <div class="section-heading">
        <p class="grayheading fadeup-st">User Persona</p>
        <p class="subsection center">Introducing Amy & Alex</p>
      </div>
      <div class="border-box row">
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img src="images/mechmarket/amy.webp" alt="" class="icon large" />
            </div>
            <div class="content-vert">
              <p class="title large highlight">Amy</p>
              <p class="text-description small">
                Amy is new to the mechanical keyboard hobby. She wants to
                acquire a new keyboard with a budget cap of $500. However, she
                finds the current lack of price filtering options quite
                frustrating on the subreddit. The absence of this feature makes
                it cumbersome for her to navigate through various products, as
                they may not align with her specific budget constraints.
              </p>
            </div>
          </div>
        </div>
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img
                src="images/mechmarket/alex.webp"
                alt=""
                class="icon large"
              />
            </div>
            <div class="content-vert">
              <p class="title large highlight">Alex</p>
              <p class="text-description small">
                Alex is a veteran on mechmarket. He loves building and
                collecting keyboards. He wishes there was a dedicated mobile app
                where he can easily track and view market data. This would spare
                him the effort of needing to consistently sift through numerous
                posts on the subreddit, making it seamless to obtain an accurate
                overview of prevailing market prices.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="project-section">
      <div class="section-heading">
        <p class="grayheading fadeup-st">Competitive Analysis</p>
        <p class="subsection center">Analyzing Popular E-commerrce Platforms</p>
      </div>
      <div class="image-wrapper">
        <div class="image-row nowrap">
          <figure class="image-container">
            <img
              class="project-image"
              src="images/mechmarket/stockx.webp"
              alt=""
              draggable="false"
            />
          </figure>
          <figure class="image-container">
            <img
              class="project-image"
              src="images/mechmarket/poshmark.webp"
              alt=""
              draggable="false"
            />
          </figure>
          <figure class="image-container">
            <img
              class="project-image"
              src="images/mechmarket/goat.webp"
              alt=""
              draggable="false"
            />
          </figure>
        </div>
        <div class="content-details">
          <p class="text-description center">
            I conducted a comprehensive analysis of top marketplace apps to
            inspire enhanced design concepts for mechmarket. This involved a
            evaluation of their user interfaces and userflows, aimed at gaining
            deeper insights into staple design principles.
          </p>
        </div>
      </div>
      <div class="border-box row">
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img
                src="images/mechmarket/icons/filter.webp"
                alt=""
                class="icon"
              />
            </div>

            <div class="content-vert">
              <p class="title large highlight">Filtering Options</p>
              <p class="text-description small">
                These leading marketplace platforms offer users the capability
                to sort by crucial metrics like price range. In contrast,
                mechmarket lacks this functionality, resulting in notable
                limitations in its filtering options
              </p>
            </div>
          </div>
        </div>
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img
                src="images/mechmarket/icons/imageupload.webp"
                alt=""
                class="icon"
              />
            </div>

            <div class="content-vert">
              <p class="title large highlight">Direct Image Upload</p>
              <p class="text-description small">
                These platforms empower users to effortlessly upload and capture
                images of their products for sale, eliminating the need for
                third-party image hosting services currently required on
                mechamarket
              </p>
            </div>
          </div>
        </div>
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img
                src="images/mechmarket/icons/offer.webp"
                alt=""
                class="icon"
              />
            </div>
            <div class="content-vert">
              <p class="title large highlight">Offers</p>
              <p class="text-description small">
                These platforms allow users to propose a price for a product, a
                feature currently unavailable on mechmarket. Currently, users
                must engage directly with sellers to discuss pricing options
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="overview">
      <p class="grayheading inline fadeup-st">Information Architecture</p>
      <ul class="carousel">
        <li>
          <div class="image-gallery">
            <ImageZoom
              options={{ background: "#000000" }}
              client:only="react"
              class="item"
              src="images/mechmarket/sitemap.webp"
              draggable="false"
              width="100%"
              height="100%"
            />
          </div>
        </li>
        <li>
          <div class="image-gallery">
            <ImageZoom
              options={{ background: "#000000" }}
              client:only="react"
              class="item"
              src="images/mechmarket/userflow1.webp"
              draggable="false"
              width="100%"
              height="100%"
            />
          </div>
        </li>
        <li>
          <div class="image-gallery">
            <ImageZoom
              options={{ background: "#000000" }}
              client:only="react"
              class="item"
              src="images/mechmarket/userflow2.webp"
              draggable="false"
              width="100%"
              height="100%"
            />
          </div>
        </li>
        <li>
          <div class="image-gallery">
            <ImageZoom
              options={{ background: "#000000" }}
              client:only="react"
              class="item"
              src="images/mechmarket/userflow3.webp"
              draggable="false"
              width="100%"
              height="100%"
            />
          </div>
        </li>
      </ul>
      <div class="carousel-buttons-wrapper">
        <ul class="carousel-buttons">
          <button class="prev-button disabled">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
              <path
                d="M21.559,12.062 L15.618,17.984 L21.5221,23.944 C22.105,24.533 22.1021,25.482 21.5131,26.065 C21.2211,26.355 20.8391,26.4999987 20.4571,26.4999987 C20.0711,26.4999987 19.6851,26.352 19.3921,26.056 L12.4351,19.034 C11.8531,18.446 11.8551,17.4999987 12.4411,16.916 L19.4411,9.938 C20.0261,9.353 20.9781,9.354 21.5621,9.941 C22.1471,10.528 22.1451,11.478 21.5591,12.062 L21.559,12.062 Z"
              ></path>
            </svg>
          </button>
          <button class="next-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
              <path
                d="M23.5587,16.916 C24.1447,17.4999987 24.1467,18.446 23.5647,19.034 L16.6077,26.056 C16.3147,26.352 15.9287,26.4999987 15.5427,26.4999987 C15.1607,26.4999987 14.7787,26.355 14.4867,26.065 C13.8977,25.482 13.8947,24.533 14.4777,23.944 L20.3818,17.984 L14.4408,12.062 C13.8548,11.478 13.8528,10.5279 14.4378,9.941 C15.0218,9.354 15.9738,9.353 16.5588,9.938 L23.5588,16.916 L23.5587,16.916 Z"
              ></path>
            </svg>
          </button>
        </ul>
      </div>
    </div>
    <section class="project-section">
      <div class="section-heading">
        <p class="grayheading fadeup-st">Usability Testing</p>
        <p class="subsection center">Evaluating the mechmarket prototype</p>
      </div>
      <div class="project-content">
        <div class="content-details">
          <span class="title xlarge">First click test</span>
          <p class="text-description">
            In a first-click test with the <span class="highlight"
              >same 8 participants</span
            >, I evaluated their grasp of the mechmarket prototype, emphasizing
            the same initial phase tests. My aim was to determine if there were
            any enhancements in user experience compared to their previous
            interactions with the mechmarket subreddit. Below were the results.
          </p>
        </div>
        <div class="image-wrapper">
          <img
            class="img-center"
            src="images/mechmarket/surveyresults3.webp"
            alt=""
            draggable="false"
          />
          <img
            class="img-center"
            src="images/mechmarket/surveyresults4.webp"
            alt=""
            draggable="false"
          />
          <div class="content-details">
            <p class="text-description center">
              With the completion rate exceeding <span class="highlight"
                >88%</span
              >, the findings strongly suggest that the mechmarket prototype
              excels in intuitiveness andn user-friendlessness when compared to
              the Reddit platform. Unanimously, all participants agree that the
              concept of a dedicated mobile app for mechmarket is highly
              favorable.
            </p>
          </div>
        </div>
      </div>
    </section>
    <div class="overview end">
      <div class="blackborder">
        <p class="grayheading fadeup-st">Wrapping Up</p>
        <div class="border-box row gap">
          <div class="box-content nobg">
            <div class="content-vert">
              <p class="title large highlight">Key Insights from the Project</p>
              <p class="text-description small">
                Developing the mechmarket app marked a pivotal milestone for me
                after completing the Google UX Design course. It offered
                profound insights into the diverse needs of keyboard
                enthusiasts, significantly enhancing my role as a Product
                Designer. Throughout this project, I refined advanced skills in
                Figma, mastering techniques like crafting scrollable content and
                leveraging auto-layout. This journey greatly elevated my design
                proficiency and deepened my commitment to delivering exceptional
                user-centered experiences.
              </p>
            </div>
          </div>

          <div class="box-content nobg">
            <div class="content-vert">
              <p class="title large highlight">Reflective Insights</p>
              <p class="text-description small">
                Upon reflecting on the project, I recognize the critical
                importance of extensive planning and refinement in establishing
                a clear project direction. This strategic approach would have
                minimized the need for frequent adjustments during feature
                implementation. Moving forward, these insights will guide me
                toward a more streamlined and effective execution in future
                endeavors.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  :root {
    --conditional-footer: rgb(0, 0, 0);
  }

  h1 {
    font-size: 64px;
    line-height: 68px;
    color: var(--highlight-text);
    font-weight: 500;
    text-decoration: none;
    user-select: none;
  }

  .project-header-details {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    gap: 1rem;
  }

  .project-thumbnail {
    position: relative;
    width: 100%;
  }

  .project-thumbnail img {
    max-width: 100%;
    margin: 0 auto;
  }

  .project-header-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1260px;
    margin: 0 auto;
    align-items: center;
    gap: 1rem;
  }

  .project-button {
    border: none;
    color: #f5f5f7;
    padding: 1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
    font-weight: 400;
    transition: background-color 0.3s;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1rem);
    border-radius: 1.5rem;

    background-color: #86868b35;

    border: 1px solid #f5f5f715;
    transition: border-color 0.3s ease;
  }

  .project-button:hover {
    border: 1px solid #f5f5f735;
  }

  .carousel-buttons-wrapper {
    width: 1260px;
    margin: -1rem auto;
  }

  .carousel-buttons {
    display: flex;
    gap: 1rem;
  }

  .prev-button,
  .next-button {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background: #333336;
    border: none;
    cursor: pointer;
    transition: background 100ms linear;
  }

  .prev-button svg path,
  .next-button svg path {
    fill: #ffffff80;
    transition: fill 100ms linear;
  }

  .prev-button:hover svg path,
  .next-button:hover svg path {
    fill: rgba(255, 255, 255, 0.8);
  }

  .prev-button:focus,
  .next-button:focus {
    outline: none;
  }

  .prev-button:hover,
  .next-button:hover {
    background: #37373a;
  }

  .prev-button.disabled,
  .next-button.disabled {
    pointer-events: none;
    opacity: 0.36;
    transition: opacity 0.1s linear;
  }

  .project-details {
    display: flex;
    max-width: 1260px;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 7.5rem;
    gap: 5rem;
  }

  .list-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1;
  }

  .overview {
    background-color: var(--gray-background);
    display: flex;
    flex-direction: column;
    padding: 10rem 0;
    gap: 2.5rem;
  }

  .fadeup {
    opacity: 0;
  }

  .grayheading {
    color: #86868b;
    font-size: 3.5rem;
    font-weight: 600;
    text-align: left;
    text-decoration: none;
    user-select: none;
  }

  .grayheading.inline {
    width: 1260px;
    margin: 0 auto;
  }

  .box {
    max-width: 33.33%;
  }

  .blackborder {
    display: flex;
    flex-direction: column;
    background: black;
    border-radius: 28px;
    max-width: 95.25rem;
    margin: 0 auto;
    padding: 8.25rem;
    gap: 3rem;
  }

  .carousel {
    display: flex;
    overflow: auto;
    max-width: none;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 20px;
    gap: 20px;
    padding-left: calc((100% - 1260px) / 2);
    padding-right: calc((100% - 1260px) / 2);
    scrollbar-width: none;
  }

  .image-gallery {
    width: 1260px;
    height: auto;
    position: relative;
  }

  .carousel .item {
    scroll-snap-align: center;
    flex-shrink: 0;
  }

  .mobile-image {
    display: none;
  }

  .item {
    position: relative;
    border-radius: 28px;
  }

  .list-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .item img {
    width: 100%;
    height: 100%;
  }

  .project-content-wrapper {
    background-color: #000000;
    width: 100%;
    margin: 0 auto;
  }

  .dark-glassbox {
    border-radius: 1.5rem;
    backdrop-filter: blur(1rem);
    border: 1px solid #f5f5f715;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
  }

  .padding {
    padding: 3rem 0;
  }

  .project-section {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    max-width: 1260px;
    margin: 0 auto;
    padding: 200px 0;
  }

  .title {
    font-size: 2rem;
    color: #f5f5f7;
    text-decoration: none;
    user-select: none;
    flex: 1;
    font-weight: 600;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    width: 980px;
    margin: 0 auto;
    gap: 10rem;
  }

  .subsection {
    font-size: 80px;
    line-height: 84px;
    font-weight: 600;
    color: #f5f5f7;
    text-decoration: none;
    user-select: none;
  }

  .center {
    text-align: center;
  }

  .text-description,
  .heading-description {
    color: var(--description-text);
    user-select: none;
    line-height: 29px;
    font-weight: 600;
    font-size: 21px;
    flex: 1;
    font-weight: 600;
    display: inline;
  }

  .content-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .content-details.col {
    flex-direction: column;
    gap: 3rem;
  }

  .subheading {
    font-size: 1.5rem;
    color: #f5f5f7;
    text-decoration: none;
    user-select: none;
    flex: 1;
    font-weight: 500;
  }

  .image-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .image-wrapper.row {
    gap: 3rem;
  }

  .section-heading {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  .image-row {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0 auto;
    max-width: 100%;
    gap: 5rem;
  }

  .preview-header {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin: 0 auto;
    width: 50%;
  }

  .highlight {
    color: #f5f5f7;
  }

  .large {
    font-size: 28px;
    line-height: 34px;
  }

  .xlarge {
    font-size: 48px;
    line-height: 52px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 39px 46px;
  }

  .content-preview {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  .content {
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    align-items: center;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .half {
    width: 50%;
  }

  .preview-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  .border-box {
    display: flex;
    flex: 1;
    gap: 25px;
    justify-content: space-around;
  }

  .border-box.row {
    display: flex;
    flex-direction: row;
    flex: 1;
  }

  .gap {
    gap: 10em;
  }

  .box-content {
    background: #161617;
    padding: 3rem 2rem;
    color: #868686;
    user-select: none;
    line-height: 1.6;
    font-weight: 430;
    flex: 1;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
    border-radius: 30px;
  }

  .box-content.nobg {
    background: none;
    padding: 0;
  }

  .content-vert {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .icon-wrapper {
    padding-bottom: 1rem;
  }

  .small {
    font-size: 19px;
  }

  .icon {
    width: 3rem;
    height: 3rem;
  }

  .content-hor {
    display: flex;
    flex-direction: row;
    gap: 1.75rem;
    align-items: center;
  }

  .no-padding {
    padding: 0 0 0 0;
  }

  .icon.large {
    width: 5rem;
    height: 5rem;
  }

  .project-image {
    max-width: 100%;
    object-fit: cover;
    user-select: none;
    border-radius: 1rem;
  }

  .img-center {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  /* media queries */
  @media (max-width: 1270px) {
    .project-details {
      padding-bottom: 7.5rem !important;
    }

    .carousel {
      padding-left: calc((100%) / 2);
      padding-right: calc((100%) / 2);
    }

    .image-gallery {
    }

    .item {
      height: auto;
    }

    .project-details {
      padding: 0 10%;
    }

    .project-section {
      padding: 200px 10%;
    }

    .overview.end {
      padding: 10rem 10%;
    }

    .carousel-buttons-wrapper {
      width: 100%;
      padding: 0 10%;
    }

    .grayheading.inline {
      width: 100%;
      padding: 0 10%;
    }

    .project-content {
      width: 100%;
    }
  }

  @media (max-width: 1068px) {
    h1 {
      font-size: 48px;
    }

    .heading-description {
      font-size: 17px;
    }

    .project-header-details {
      gap: 8px;
    }

    .project-content {
      width: 100%;
    }

    .image-row.stats {
      gap: 3rem;
      justify-content: space-between;
      flex-direction: column;
    }

    .blackborder {
      padding: 6rem;
    }

    .preview-header {
      width: 75%;
    }
  }

  @media (max-width: 779px) {
    h1 {
      font-size: 40px;
    }

    .text-description {
      font-size: 19px;
    }

    .project-header-details {
      gap: 0;
    }

    .project-details {
      padding: 0;
      flex-direction: column;
    }

    .list-item {
      gap: 0.3rem;
    }

    .list-container {
      gap: 1rem;
    }

    .overview {
      padding: 100px 0;
    }

    .project-details {
      gap: 3rem;
      padding: 0 5%;
    }

    .grayheading.inline {
      padding: 0 5%;
    }

    .grayheading {
      font-size: 32px;
    }

    .subsection {
      font-size: 48px;
      line-height: 1.0834933333;
    }

    .content {
      flex-direction: column;
    }

    .content-preview,
    .project-section,
    .preview-wrapper,
    .section-heading {
      gap: 100px;
    }

    .project-section {
      padding: 100px 5%;
    }

    .content-details {
      flex-direction: column;
      gap: 0.5rem;
    }

    .project-content {
      width: 100%;
      gap: 100px;
    }

    .xlarge,
    .title {
      font-size: 28px;
    }

    .image-row {
      flex-direction: column;
      gap: 3rem;
    }

    .content-details.padding {
      flex-direction: row;
    }

    .border-box.row,
    .border-box {
      flex-wrap: wrap;
      flex-basis: 100%;
    }

    .icon {
      width: 2rem;
      height: 2rem;
    }

    .image-row.nowrap {
      flex-direction: row;
    }

    .blackborder {
      padding: 5rem 3rem;
    }

    .gap {
      gap: 100px;
    }

    .icon.large {
      width: 3rem;
      height: 3rem;
    }

    .icon-wrapper {
      padding-bottom: 0;
    }

    .title.large.highlight {
      font-size: 21px;
    }

    .content-vert {
      gap: 0.5rem;
    }

    .text-description.small {
      font-size: 17px;
    }

    .box-content {
      padding: 2rem 2rem;
      min-width: 200px;
    }

    .border-box.row.gap {
      flex-direction: column;
    }

    .carousel-buttons-wrapper {
      padding: 0 5%;
    }

    .preview {
      width: 75%;
    }

    .preview-header {
      gap: 1.5rem;
      width: 100%;
    }

    .mobile-image {
      display: block;
    }

    .def-image {
      display: none;
    }
  }
</style>
