---
import Layout from "../layouts/Layout.astro";
import ProjectNav from "../components/ProjectNav.astro";
import { ImageZoom } from "../components/js/ImageZoom.jsx";
---

<meta property="og:image" content="images/sorette/sorettethumbnail.webp" />
<Layout
  title="sorette | Andy Duong"
  description="Cloud sharing platform streamlining music collaboration with others"
  canonical="https://andyduong.work/sorette"
>
  <script>
    // GSAP
    let ctx: gsap.Context | null = null;
    let initialize = false;

    document.addEventListener("astro:page-load", () => {
      const elements = gsap.utils.toArray<HTMLElement>(".fadeup-st");
      const currentPath = window.location.pathname;
      initialize = currentPath === "/sorette";

      if (initialize) {
        ctx = gsap.context(() => {});

        ctx.add(() => {
          // Animation for .fadeup elements
          gsap.fromTo(
            ".fadeup",
            { opacity: 0, y: 25 },
            { opacity: 1, y: 0, duration: 0.5, ease: "cubic-bezier(0,0,0.5,1)" }
          );

          // Animation for .fadeup-d elements
          gsap.fromTo(
            ".fadeup-d",
            { opacity: 0, y: 25 },
            {
              opacity: 1,
              y: 0,
              duration: 0.5,
              ease: "cubic-bezier(0,0,0.5,1)",
              delay: 0.1,
            }
          );

          // Animation for .fadeup-st elements with ScrollTrigger
          elements.forEach((element) => {
            gsap.fromTo(
              element,
              { opacity: 0, y: 25 },
              {
                opacity: 1,
                y: 0,
                duration: 0.5,
                ease: "cubic-bezier(0,0,0.5,1)",
                scrollTrigger: {
                  trigger: element,
                  start: "top 80%",
                  end: "bottom 20%",
                  toggleActions: "play none none reverse",
                },
              }
            );
          });

          // Refresh ScrollTrigger to recalculate trigger points
          ScrollTrigger.refresh(true);
        });
      }

      // Event listener for after-swap event
      document.addEventListener("astro:after-swap", () => {
        if (ctx) {
          ctx.revert();
          ctx = null;
        }
      });
    });

    //carousel
    document.addEventListener("astro:page-load", () => {
      // Select all carousels on the page
      const carousels = document.querySelectorAll<HTMLElement>(".carousel");

      carousels.forEach((carousel) => {
        const prevButton = carousel.parentElement?.querySelector(
          ".prev-button"
        ) as HTMLElement;
        const nextButton = carousel.parentElement?.querySelector(
          ".next-button"
        ) as HTMLElement;
        let isScrolling = false;
        const scrollDuration = 700; // Duration of the scroll animation in milliseconds
        let isCarouselVisible = true;

        // Function to handle left arrow key press
        function handleLeftArrowKey() {
          if (!isScrolling && isCarouselVisible) {
            isScrolling = true;
            const scrollDistance =
              carousel.scrollLeft -
              (carousel.querySelector(".item") as HTMLElement).offsetWidth;
            carousel.scrollTo({
              left: scrollDistance,
              behavior: "smooth",
            });
            setTimeout(function () {
              isScrolling = false;
              checkButtonsState(); // Check button state after scrolling
            }, scrollDuration); // Adjust the time to match the duration of your scroll animation
          }
        }

        // Function to handle right arrow key press
        function handleRightArrowKey() {
          if (!isScrolling && isCarouselVisible) {
            isScrolling = true;
            const scrollDistance =
              carousel.scrollLeft +
              (carousel.querySelector(".item") as HTMLElement).offsetWidth;
            carousel.scrollTo({
              left: scrollDistance,
              behavior: "smooth",
            });
            setTimeout(function () {
              isScrolling = false;
              checkButtonsState(); // Check button state after scrolling
            }, scrollDuration); // Adjust the time to match the duration of your scroll animation
          }
        }

        prevButton?.addEventListener("click", function () {
          handleLeftArrowKey();
        });

        nextButton?.addEventListener("click", function () {
          handleRightArrowKey();
        });

        // Event listener for keyboard arrow keys
        document.addEventListener("keydown", function (event) {
          if (event.key === "ArrowLeft") {
            handleLeftArrowKey();
          } else if (event.key === "ArrowRight") {
            handleRightArrowKey();
          }
        });

        // Function to check and disable/enable prev/next buttons based on carousel position
        function checkButtonsState() {
          // Get the first and last slides
          const firstSlide = carousel.querySelector(
            ".item:first-child"
          ) as HTMLElement;
          const lastSlide = carousel.querySelector(
            ".item:last-child"
          ) as HTMLElement;

          if (!firstSlide || !lastSlide) return; // Ensure the slides exist

          // Check if the carousel is at the first slide
          if (carousel.scrollLeft <= firstSlide.offsetWidth) {
            prevButton?.classList.add("disabled");
          } else {
            prevButton?.classList.remove("disabled");
          }

          // Check if the carousel is at the last slide
          if (
            carousel.scrollLeft >=
            carousel.scrollWidth - carousel.offsetWidth - lastSlide.offsetWidth
          ) {
            nextButton?.classList.add("disabled");
          } else {
            nextButton?.classList.remove("disabled");
          }
        }

        // Initially check button state
        checkButtonsState();

        // Event listener for scroll events on the carousel
        carousel.addEventListener("scroll", function () {
          checkButtonsState(); // Check button state after scrolling
        });

        // IntersectionObserver to check if the carousel is fully visible
        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              isCarouselVisible = entry.isIntersecting;
            });
          },
          { threshold: 0.5 }
        );

        observer.observe(carousel);
      });
    });
    function setGalleryWidths() {
      const grayheading = document.querySelector(".grayheading");
      if (!grayheading) return;

      const computedStyle = window.getComputedStyle(grayheading);
      const paddingLeft = parseFloat(computedStyle.paddingLeft);
      const paddingRight = parseFloat(computedStyle.paddingRight);

      const grayheadingWidth =
        grayheading.clientWidth - (paddingLeft + paddingRight);
      const galleries =
        document.querySelectorAll<HTMLElement>(".image-gallery");

      galleries.forEach((gallery) => {
        gallery.style.width = `${grayheadingWidth}px`;
      });
    }

    // Set initial gallery widths
    setGalleryWidths();

    // Update gallery widths on window resize
    window.addEventListener("resize", setGalleryWidths);
  </script>
  <main>
    <ProjectNav
      prevLink="/spotify-party"
      prevText="Spotfy Party"
      nextLink="/mechmarket"
      nextText="mechmarket"
    />
    <div class="project-header-wrapper">
      <picture class="project-thumbnail fadeup">
        <div class="project-header-details">
          <h1 class="project-title">sorette</h1>
          <p class="heading-description">
            Cloud sharing platform streamlining music collaboration with others
          </p>
        </div>
        <img
          class="def-image"
          src="images/sorette/sorettethumbnail.webp"
          alt=""
        />
        <img
          class="mobile-image"
          src="images/sorette/mobilethumbnail.webp"
          alt=""
        />
      </picture>
      <button class="project-button fadeup-d">
        <a
          href="https://www.figma.com/proto/gAKgOfJEIndvJweTn2Yg0l/sorette?page-id=0%3A1&type=design&node-id=1-51&viewport=-1204%2C721%2C0.42&scaling=scale-down&starting-point-node-id=1%3A51"
          target="_blank"
          rel="noopener noreferrer"
        >
          View Prototype ↗
        </a>
      </button>
    </div>

    <article class="project-content-wrapper">
      <section class="overview">
        <div class="project-details">
          <ul class="list-container">
            <ul class="list-item">
              <p class="text-description highlight">Role</p>
              <p class="text-description">
                UX Design, User Research, Visual Design, Prototyping
              </p>
            </ul>
            <ul class="list-item">
              <p class="text-description highlight">Tools</p>
              <p class="text-description">
                Figma, Google Forms, Optimal Workshop, After Effects
              </p>
            </ul>
            <ul class="list-item">
              <p class="text-description highlight">Timeline</p>
              <p class="text-description">13 weeks (Mar - June 2023)</p>
            </ul>
          </ul>
          <ul class="list-container">
            <ul class="list-item">
              <p class="text-description highlight">Overview</p>
              <p class="text-description">
                sorette is an innovative desktop cloud-sharing service designed
                for music professionals, offering seamless collaboration
                opportunities. sorette provides a suite of crafted tools and
                customization options to streamline workflows, simplify file
                organization, and foster a user-friendly environment conducive
                to enhanced productivity.
              </p>
            </ul>
          </ul>
        </div>
        <p class="grayheading inline fadeup-st">Product Overview</p>
        <ul class="carousel">
          <li>
            <div class="image-gallery">
              <ImageZoom
                options={{ background: "#000000" }}
                client:only="react"
                class="item"
                src="images/sorette/preview1.webp"
                draggable="false"
                width="100%"
                height="100%"
              />
            </div>
          </li>
          <li>
            <div class="image-gallery">
              <ImageZoom
                options={{ background: "#000000" }}
                client:only="react"
                class="item"
                src="images/sorette/preview2.webp"
                draggable="false"
                width="100%"
                height="100%"
              />
            </div>
          </li>
          <li>
            <div class="image-gallery">
              <ImageZoom
                options={{ background: "#000000" }}
                client:only="react"
                class="item"
                src="images/sorette/preview3.webp"
                draggable="false"
                width="100%"
                height="100%"
              />
            </div>
          </li>
          <li>
            <div class="image-gallery">
              <ImageZoom
                options={{ background: "#000000" }}
                client:only="react"
                class="item"
                src="images/sorette/preview4.webp"
                draggable="false"
                width="100%"
                height="100%"
              />
            </div>
          </li>
        </ul>
        <div class="carousel-buttons-wrapper">
          <ul class="carousel-buttons">
            <button class="prev-button disabled">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                <path
                  d="M21.559,12.062 L15.618,17.984 L21.5221,23.944 C22.105,24.533 22.1021,25.482 21.5131,26.065 C21.2211,26.355 20.8391,26.4999987 20.4571,26.4999987 C20.0711,26.4999987 19.6851,26.352 19.3921,26.056 L12.4351,19.034 C11.8531,18.446 11.8551,17.4999987 12.4411,16.916 L19.4411,9.938 C20.0261,9.353 20.9781,9.354 21.5621,9.941 C22.1471,10.528 22.1451,11.478 21.5591,12.062 L21.559,12.062 Z"
                ></path>
              </svg>
            </button>
            <button class="next-button">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
                <path
                  d="M23.5587,16.916 C24.1447,17.4999987 24.1467,18.446 23.5647,19.034 L16.6077,26.056 C16.3147,26.352 15.9287,26.4999987 15.5427,26.4999987 C15.1607,26.4999987 14.7787,26.355 14.4867,26.065 C13.8977,25.482 13.8947,24.533 14.4777,23.944 L20.3818,17.984 L14.4408,12.062 C13.8548,11.478 13.8528,10.5279 14.4378,9.941 C15.0218,9.354 15.9738,9.353 16.5588,9.938 L23.5588,16.916 L23.5587,16.916 Z"
                ></path>
              </svg>
            </button>
          </ul>
        </div>
      </section>
      <section class="project-section">
        <p class="grayheading fadeup-st">Final Solution</p>
        <div class="preview-wrapper">
          <div class="preview-header">
            <p class="subsection center">Specialized Collaboration Tools.</p>
            <p class="text-description center">
              <span class="highlight">Bridging the gaps in features</span>
              missing from current cloud sharing platforms to significantly enhance
              collaboration
            </p>
          </div>
          <div class="content-preview">
            <div class="content">
              <div class="video-container">
                <video
                  width="100%"
                  height="100%"
                  autoplay
                  loop
                  muted
                  playsinline
                >
                  <source
                    src="videos/sorette/sorettesearch.mp4"
                    type="video/mp4"
                  />
                </video>
              </div>
              <div class="content-details">
                <p class="text-description flip">
                  Boost productivity with
                  <span class="highlight"
                    >robust file tagging and powerful search features. Organize
                    and manage files effortlessly</span
                  >
                </p>
              </div>
            </div>
            <div class="content reverse">
              <div class="video-container">
                <video
                  width="100%"
                  height="100%"
                  autoplay
                  loop
                  muted
                  playsinline
                >
                  <source
                    src="videos/sorette/soretteinvite.mp4"
                    type="video/mp4"
                  />
                </video>
              </div>
              <div class="content-details">
                <p class="text-description flip">
                  <span class="highlight"
                    >Streamline engagements and collaborations with a
                    centralized notification hub,</span
                  > enhancing organization and responsiveness
                </p>
              </div>
            </div>
            <div class="content">
              <div class="video-container">
                <video
                  width="100%"
                  height="100%"
                  autoplay
                  loop
                  muted
                  playsinline
                >
                  <source
                    src="videos/sorette/notifcationcenter.mp4"
                    type="video/mp4"
                  />
                </video>
              </div>
              <div class="content-details">
                <p class="text-description flip">
                  <span class="highlight"
                    >Rediscover past group sessions with curated playlists of
                    previously played tracks</span
                  >. Replay any missed songs or effortlessly share playlists
                  with others
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="project-section">
        <div class="section-heading">
          <p class="grayheading fadeup-st">User Research</p>
          <p class="subsection center">
            Evaluating the current user collaboration experience
          </p>
        </div>
        <div class="project-content">
          <div class="content-details">
            <span class="title xlarge">Initial survey</span>
            <p class="text-description">
              In the preliminary stage, I conducted a comoprehensive evaoluation
              of user feedback regarding the current collaborative user flow.
              These participants have experience with various platforrms for
              sharing files, including cloud services. I actively engaged with <span
                style="color: #e3e3e8;">5 participants</span
              > to capture their valuable thoughts and insights.
            </p>
          </div>
          <div class="image-wrapper">
            <img
              class="img-center"
              src="images/sorette/surveyresults1.webp"
              alt=""
              draggable="false"
            />
            <div class="content-details">
              <p class="text-description center">
                A mere <span style="color: #e3e3e8;">80%</span> of users encountered
                struggles in collaborating with others. This indicates that there
                are critical issues that could pertain to workflow issues, communication
                challenges, user experience concerns, or resource limitations.
              </p>
            </div>
          </div>
          <div class="content-details padding">
            <div class="box">
              <p class="text-description">
                "Collaborating with others poses challenges for me, especially
                when it comes to
                <span class="highlight">
                  keeping track of project revisions and manging comments from
                  team members"
                </span>
              </p>
            </div>
            <div class="box">
              <p class="text-description">
                "Coordinating with numerous individuals simultaneously can
                become confusing, as I often find myself
                <span class="highlight">
                  needing to maintain a history of bookmarks or shared folder
                  links for future reference"
                </span>
              </p>
            </div>
          </div>
        </div>
      </section>
    </article>
    <section class="project-section">
      <div class="section-heading">
        <p class="grayheading fadeup-st">Problem Statement</p>
        <p class="subsection center">
          How can we improve music collaboration and introduce innovative
          features?
        </p>
      </div>
      <div class="border-box row">
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img src="images/sorette/icons/files.webp" alt="" class="icon" />
            </div>

            <div class="content-vert">
              <p class="title large highlight">
                Difficulty in managing multiple versions of files
              </p>
              <p class="text-description small">
                Users struggle to maintain and manage up-to-date files with
                other collaborators
              </p>
            </div>
          </div>
        </div>
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img src="images/sorette/icons/nav.webp" alt="" class="icon" />
            </div>

            <div class="content-vert">
              <p class="title large highlight">Navigation challenges</p>
              <p class="text-description small">
                Coordinating with others can be confusing, especially when users
                are tasked with managing many shared folder links
              </p>
            </div>
          </div>
        </div>
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img
                src="images/sorette/icons/message.webp"
                alt=""
                class="icon"
              />
            </div>
            <div class="content-vert">
              <p class="title large highlight">Fragmented Collaboration</p>
              <p class="text-description small">
                Individuals often find themselves relying on disparate
                communication services and tools to coordinate and manage
                collaborative efforts
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="project-section">
      <div class="section-heading">
        <p class="grayheading fadeup-st">User Persona</p>
        <p class="subsection center">Introducing Brysoner & Taylor</p>
      </div>
      <div class="border-box row">
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img src="images/sorette/bryson.webp" alt="" class="icon large" />
            </div>
            <div class="content-vert">
              <p class="title large highlight">Bryson</p>
              <p class="text-description small">
                Bryson is a talented R&B artist who finds inspiration in
                exploring different producers' beats to kickstart his
                songwriting. His music revolves around slow tempo beats,
                creating a mesmerizing and soulful vibe. However, he's
                frustrated by the lack of an option to filter files by BPM and
                genre, making it challenging to find the right fit for his
                artistic vision.
              </p>
            </div>
          </div>
        </div>
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img src="images/sorette/taylor.webp" alt="" class="icon large" />
            </div>
            <div class="content-vert">
              <p class="title large highlight">Taylor</p>
              <p class="text-description small">
                Taylor is a hip-hop producer collaborating with fellow producers
                and artists. She encounters obstacles due to slow loading times
                when trying to stream shared files sent to her. These issues
                disrupt her workflow, creating challenges in maintaining a
                continuous and seamless work experience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="project-section">
      <div class="section-heading">
        <p class="grayheading fadeup-st">Competitive Analysis</p>
        <p class="subsection center">Analyzing cloud platforms</p>
      </div>
      <div class="image-wrapper">
        <div class="image-row nowrap">
          <figure class="image-container">
            <img
              class="project-image"
              src="images/sorette/googledrive.webp"
              alt=""
              draggable="false"
            />
          </figure>
          <figure class="image-container">
            <img
              class="project-image"
              src="images/sorette/dropbox.webp"
              alt=""
              draggable="false"
            />
          </figure>
          <figure class="image-container">
            <img
              class="project-image"
              src="images/sorette/onedrive.webp"
              alt=""
              draggable="false"
            />
          </figure>
        </div>
        <div class="content-details">
          <p class="text-description center">
            I performed a thorough competitive analysis to gain comprehensive
            insights into the features and user experiences offered by popular
            cloud platforms like Google Drive, Dropbox, and OneDrive.
          </p>
        </div>
      </div>
      <div class="border-box row">
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img
                src="images/sorette/icons/slowdownload.webp"
                alt=""
                class="icon"
              />
            </div>

            <div class="content-vert">
              <p class="title large highlight">Audio playback</p>
              <p class="text-description small">
                Each platform experiences sluggish playback streaming with a
                brief delay as audio files undergo buffering
              </p>
            </div>
          </div>
        </div>
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img
                src="images/sorette/icons/filters.webp"
                alt=""
                class="icon"
              />
            </div>

            <div class="content-vert">
              <p class="title large highlight">Limited filter capabilities</p>
              <p class="text-description small">
                While these platforms offer basic filters, they lack advanced
                features like genre or BPM filtering
              </p>
            </div>
          </div>
        </div>
        <div class="box-content">
          <div class="content-vert">
            <div class="icon-wrapper">
              <img src="images/sorette/icons/tag.webp" alt="" class="icon" />
            </div>
            <div class="content-vert">
              <p class="title large highlight">No tagging system</p>
              <p class="text-description small">
                The lack of a tag-based organizer hinders users from efficiently
                navigating and organizing their files
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="overview">
      <p class="grayheading inline fadeup-st">Mid fidelity prototypes</p>
      <ul class="carousel">
        <li>
          <div class="image-gallery">
            <ImageZoom
              options={{ background: "#000000" }}
              client:only="react"
              class="item"
              src="images/sorette/mf1.webp"
              draggable="false"
              width="100%"
              height="100%"
            />
          </div>
        </li>
        <li>
          <div class="image-gallery">
            <ImageZoom
              options={{ background: "#000000" }}
              client:only="react"
              class="item"
              src="images/sorette/mf2.webp"
              draggable="false"
              width="100%"
              height="100%"
            />
          </div>
        </li>
        <li>
          <div class="image-gallery">
            <ImageZoom
              options={{ background: "#000000" }}
              client:only="react"
              class="item"
              src="images/sorette/mf3.webp"
              draggable="false"
              width="100%"
              height="100%"
            />
          </div>
        </li>
        <li>
          <div class="image-gallery">
            <ImageZoom
              options={{ background: "#000000" }}
              client:only="react"
              class="item"
              src="images/sorette/mf4.webp"
              draggable="false"
              width="100%"
              height="100%"
            />
          </div>
        </li>
      </ul>
      <div class="carousel-buttons-wrapper">
        <ul class="carousel-buttons">
          <button class="prev-button disabled">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
              <path
                d="M21.559,12.062 L15.618,17.984 L21.5221,23.944 C22.105,24.533 22.1021,25.482 21.5131,26.065 C21.2211,26.355 20.8391,26.4999987 20.4571,26.4999987 C20.0711,26.4999987 19.6851,26.352 19.3921,26.056 L12.4351,19.034 C11.8531,18.446 11.8551,17.4999987 12.4411,16.916 L19.4411,9.938 C20.0261,9.353 20.9781,9.354 21.5621,9.941 C22.1471,10.528 22.1451,11.478 21.5591,12.062 L21.559,12.062 Z"
              ></path>
            </svg>
          </button>
          <button class="next-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
              <path
                d="M23.5587,16.916 C24.1447,17.4999987 24.1467,18.446 23.5647,19.034 L16.6077,26.056 C16.3147,26.352 15.9287,26.4999987 15.5427,26.4999987 C15.1607,26.4999987 14.7787,26.355 14.4867,26.065 C13.8977,25.482 13.8947,24.533 14.4777,23.944 L20.3818,17.984 L14.4408,12.062 C13.8548,11.478 13.8528,10.5279 14.4378,9.941 C15.0218,9.354 15.9738,9.353 16.5588,9.938 L23.5588,16.916 L23.5587,16.916 Z"
              ></path>
            </svg>
          </button>
        </ul>
      </div>
    </div>

    <section class="project-section">
      <div class="section-heading">
        <p class="grayheading fadeup-st">Usability Testing</p>
        <p class="subsection center">Evaluating the sorette prototype</p>
      </div>
      <div class="project-content">
        <div class="content-details">
          <span class="title xlarge">First click test</span>
          <p class="text-description">
            I conducted an initial first-click test with <span class="highlight"
              >7 new participants</span
            > to evaluate their ability to navigate tasks using the sorette prototype.
            These participants had diverse levels of experience with various cloud
            platforms for music collaboration. They completed testing across <span
              class="highlight">three user flow scenarios:</span
            > uploading a file and inviting others to listen, inviting others to
            a project, and adding additional tags to a file.
          </p>
        </div>
        <div class="image-wrapper">
          <img
            class="img-center"
            src="images/sorette/firstclicktest.webp"
            alt=""
            draggable="false"
          />
          <div class="content-details">
            <p class="text-description center">
              With a completion rate exceeding <span class="highlight">86%</span
              >, the first-click test shows that most participants successfully
              navigated the sorette prototype. This high success rate suggests
              the interface is intuitive and user-friendly, accommodating users
              with varying levels of experience with cloud platforms for music
              collaboration. The positive outcome indicates that the design
              effectively supports the intended actions.
            </p>
          </div>
        </div>
        <div class="content-details padding">
          <div class="box">
            <p class="text-description">
              "The projects tab is a music collaborator's dream. I'm thrilled
              with the
              <span class="highlight">
                simplicity of the interface, which elegantly displays all the
                projeccts I am currently collaborating on"
              </span>
            </p>
          </div>
          <div class="box">
            <p class="text-description">
              "I love how you can tag each individual file.
              <span class="highlight">
                It will definitely help simplify the process of sorting and
                categorizing files"
              </span>
            </p>
          </div>
        </div>
        <div class="image-row stats">
          <img
            class="img-center"
            src="images/sorette/surveyresults2.webp"
            alt=""
            draggable="false"
          />
          <img
            class="img-center"
            src="images/sorette/surveyresults3.webp"
            alt=""
            draggable="false"
          />
        </div>
      </div>
    </section>
    <div class="overview">
      <p class="grayheading inline fadeup-st">Information Architecture</p>
      <ul class="carousel">
        <li>
          <div class="image-gallery">
            <ImageZoom
              options={{ background: "#000000" }}
              client:only="react"
              class="item"
              src="images/sorette/sitemap.webp"
              draggable="false"
              width="100%"
              height="100%"
            />
          </div>
        </li>
        <li>
          <div class="image-gallery">
            <ImageZoom
              options={{ background: "#000000" }}
              client:only="react"
              class="item"
              src="images/sorette/userflow1.webp"
              draggable="false"
              width="100%"
              height="100%"
            />
          </div>
        </li>
        <li>
          <div class="image-gallery">
            <ImageZoom
              options={{ background: "#000000" }}
              client:only="react"
              class="item"
              src="images/sorette/userflow2.webp"
              draggable="false"
              width="100%"
              height="100%"
            />
          </div>
        </li>
        <li>
          <div class="image-gallery">
            <ImageZoom
              options={{ background: "#000000" }}
              client:only="react"
              class="item"
              src="images/sorette/userflow3.webp"
              draggable="false"
              width="100%"
              height="100%"
            />
          </div>
        </li>
      </ul>
      <div class="carousel-buttons-wrapper">
        <ul class="carousel-buttons">
          <button class="prev-button disabled">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
              <path
                d="M21.559,12.062 L15.618,17.984 L21.5221,23.944 C22.105,24.533 22.1021,25.482 21.5131,26.065 C21.2211,26.355 20.8391,26.4999987 20.4571,26.4999987 C20.0711,26.4999987 19.6851,26.352 19.3921,26.056 L12.4351,19.034 C11.8531,18.446 11.8551,17.4999987 12.4411,16.916 L19.4411,9.938 C20.0261,9.353 20.9781,9.354 21.5621,9.941 C22.1471,10.528 22.1451,11.478 21.5591,12.062 L21.559,12.062 Z"
              ></path>
            </svg>
          </button>
          <button class="next-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36">
              <path
                d="M23.5587,16.916 C24.1447,17.4999987 24.1467,18.446 23.5647,19.034 L16.6077,26.056 C16.3147,26.352 15.9287,26.4999987 15.5427,26.4999987 C15.1607,26.4999987 14.7787,26.355 14.4867,26.065 C13.8977,25.482 13.8947,24.533 14.4777,23.944 L20.3818,17.984 L14.4408,12.062 C13.8548,11.478 13.8528,10.5279 14.4378,9.941 C15.0218,9.354 15.9738,9.353 16.5588,9.938 L23.5588,16.916 L23.5587,16.916 Z"
              ></path>
            </svg>
          </button>
        </ul>
      </div>
    </div>
    <div class="overview end">
      <div class="blackborder">
        <p class="grayheading fadeup-st">Wrapping Up</p>
        <div class="border-box row gap">
          <div class="box-content nobg">
            <div class="content-vert">
              <p class="title large highlight">Project Takeaways</p>
              <p class="text-description small">
                sorette represents the beginning of my venture into crafting
                desktop web designs. It provided a canvas for channeling my
                passion towards addressing real-world challenges and
                strategically prioritizing features to deliver significant value
                to users. Implementing various prototyping features fortified my
                proficiency in utilizing Figma's capabilities. In summary, I
                found immense joy in designing sorette, and I sincerely hope
                that you thoroughly enjoy exploring its prototype!
              </p>
            </div>
          </div>
          <div class="box-content nobg">
            <div class="content-vert">
              <p class="title large highlight">Things I would do differently</p>
              <p class="text-description small">
                Looking back, one thing I would do differently is improve my
                time management. Juggling both sorette and mechmarket
                simultaneously was an exhilarating experience. Allocating
                specific time blocks for each project would have allowed me to
                better balance my efforts and ensure more focused progress on
                both fronts.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  :root {
    --conditional-footer: rgb(0, 0, 0);
  }
</style>
