---
import Layout from "../layouts/Layout.astro";
import ProjectHeader from "../layouts/ProjectHeader.astro";
import ProjectNav from "../components/ProjectNav.astro";
import ImageHeader from "../components/ImageHeader.astro";
import SectionHeading from "../components/SectionHeading.astro";
import VideoPreview from "../components/VideoPreview.astro";
---

<Layout
  title="Andy Duong | Spotify Party"
  description="Enhancing the group listening experience for an immersive music exploration"
>
  <main>
    <ProjectHeader
      tag="RESPONSIVE DESIGN"
      title="Spotify Party"
      description1="Spotify Party strives to enhance the listening experience for users who enjoy music with others. While creating group sessions already exists on Spotify, it currently falls short in terms of functionality and could greatly benefit from improvements. Spotify Party will not only strengthen its current group session capabilities, but will also introduce captivating new features to foster an immersive and enjoyable journey of music exploration."
      description2="I redesigned the elements in the current Spotify UI in Figma on both the mobile and desktop version of the app. I then implemented my design ideas and created functioning prototypes."
      role="UI/UX Designer"
      tools="Figma, Google Forms, Optimal Workshop, After Effects"
      timeline="8 weeks (June - July 2023)"
      videoSrc="videos/spotify/spotifysessionplaylist.mp4"
      prototypeLink="https://www.figma.com/proto/5ciCRD3R2H8jz0fRfKJPJD/Spotify-Party-Landing-Page?page-id=0%3A1&type=design&node-id=1-2&viewport=1334%2C874%2C0.71&t=MT5QwGlDdOlSKv5J-1&scaling=scale-down"
    />
    <article class="project-content-wrapper">
      <ProjectNav
        prevLink="/mechmarket"
        prevText="mechmarket"
        nextLink="/sorette"
        nextText="sorette"
      />
      <ImageHeader
        image1={{
          src: "images/spotify/preview1.webp",
          description: "Group session queue system screen",
          alt: "Group session queue system screen",
        }}
        image2={{
          src: "images/spotify/preview2.webp",
          description: "Group session collaborative playlist page",
          alt: "Group session collaborative playlist page",
        }}
        image3={{
          src: "images/spotify/preview3.webp",
          description: "Automated curated playlist after the ended session",
          alt: "Automated curated playlist after the ended session",
        }}
        image4={{
          src: "images/spotify/preview4.webp",
          description:
            "Mobile design invite friends & current listeners screen",
          alt: "Mobile design invite friends & current listeners screen",
        }}
      />
      <hr class="divider content" />
      <section class="project-section">
        <SectionHeading
          headerTag="FINAL SOLUTION"
          sectionTitle="Evolving the group listening experience by introducing improved functionality and features for all Spotify users"
        />
        <div class="preview-wrapper dark-glassbox">
          <VideoPreview
            videoSrc="videos/spotify/spotifyinvitefriends.mp4"
            title="Invite friends directly from the Friend Activity list"
            description="Easily invite friends directly within the app, eliminating the need for external invitations through links or social media"
          />
          <VideoPreview
            videoSrc="videos/spotify/spotifygroupsetting.mp4"
            title="Moderate your group sessions"
            description="Streamline your sessions with customizable group settings. Delegate admin privileges and fine-tune options for a smoother, more enjoyable experience"
          />
          <VideoPreview
            videoSrc="videos/spotify/spotifysessionplaylist.mp4"
            title="Automatically receive curated group session playlists"
            description="Rediscover past group sessions with curated playlists of previously played tracks. Replay any missed songs or effortlessly share playlists with others"
          />
        </div>
      </section>
      <hr class="divider content" />
      <section class="project-section">
        <SectionHeading
          headerTag="USER RESEARCH"
          sectionTitle="Evaluating the user flow for initiating a Spotify group session"
        />
        <div class="content-details">
          <span class="title">First click test</span>
          <p class="text-description">
            In the initial phase, I assessed users' ability to navigate to the
            group session menu through a first-click test with <span
              style="color: #e3e3e8;">7 participants</span
            > on the Spotify mobile app. While I planned to extend the test to the
            desktop platform, the feature was exclusive to mobile. Despite this limitation,
            the early findings provided crucial insights for subsequent analyses.
          </p>
        </div>
        <div class="image-wrapper">
          <img
            style="margin: 0 auto;"
            src="/images/spotify/firstclicktest.webp"
            alt=""
            draggable="false"
          />
        </div>
        <div class="content-details">
          <span class="title">Survey results</span>
          <p class="text-description">
            A mere <span style="color: #e3e3e8;">28%</span> of users were able to
            successfully locate the appropriate menu. This compelling insight bly
            suggests that the menu's placement may be unintuitive, potentially leading
            users to overlook its presence. Users tend to overlook the group session
            feature on the platform due to its unintuitive placement and current
            lack of features it current offers.
          </p>
        </div>
        <div class="image-wrapper">
          <img
            style="margin: 0 auto;"
            src="images/spotify/surveyresults1.webp"
            alt=""
            draggable="false"
          />
          <figcaption class="subheading" style="margin: 0 auto;">
            But...
          </figcaption>
          <div class="image-row">
            <img
              class="project-image"
              src="images/spotify/surveyresults2.webp"
              alt=""
              draggable="false"
            />
            <img
              class="project-image"
              src="images/spotify/surveyresults3.webp"
              alt=""
              draggable="false"
            />
          </div>
        </div>
        <div class="content-details">
          <div class="title">A word from our participants</div>
          <div class="border-box">
            <p class="box-content">
              <span style="color: #ddddde;">
                "Difficult to invite/join friends."
              </span>
              Didn’t know about it until someone else showed me. There also lies
              the potential for queuing songs that others don't enjoy.
            </p>
            <p class="box-content">
              <span style="color: #ddddde;">
                "Anyone can play music with no restriction,"
              </span>
              so one person can skip another's song and play what they want. Can't
              see who played what song.
            </p>
          </div>
        </div>
        <div class="content-details">
          <div class="title">Key Insights</div>
          <div class="border-box gap">
            <div class="box-content outline">
              <div class="content-vert">
                <div class="content-icon">
                  <img
                    src="images/spotify/icons/confusedicon.webp"
                    alt=""
                    class="icon"
                  />
                </div>
                <div class="subheading">User Experience</div>
                <p>
                  Users have difficulty in inviting friends. The user onboarding
                  msut be enhanced to provide a more intuitive experience for
                  those wishing to invite and join friends
                </p>
              </div>
            </div>
            <div class="box-content outline">
              <div class="content-vert">
                <div class="content-icon">
                  <img
                    src="images/spotify/icons/conflictsicon.webp"
                    alt=""
                    class="icon"
                  />
                </div>
                <div class="subheading">Playback Conflicts</div>
                <p>
                  The potential conflicts stemming from track skipping by any
                  participant must be addressed as users are facing disruptive
                  behavior by malicious users
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr class="divider content" />
      <section class="project-section">
        <SectionHeading
          headerTag="PROBLEM STATEMENT"
          sectionTitle="How can we revitalize group listening for an improved experience, addressing challenges and enhancing accessibility effectively?"
        />
        <div class="content-details">
          <div class="title">Solving the issues</div>
          <div class="border-box">
            <div class="box-content">
              <div class="content-hor">
                <div class="content-icon no-padding">
                  <img
                    src="images/spotify/icons/searchicon.webp"
                    alt=""
                    class="icon"
                  />
                </div>
                <div class="content-vert">
                  <div class="subheading">
                    Group session feature is hard to locate
                  </div>
                  <p>
                    The current placement of initiating a group session feature
                    is hidden under the device lists screen which users can
                    overlook
                  </p>
                </div>
              </div>
            </div>
            <div class="box-content">
              <div class="content-hor">
                <div class="content-icon no-padding">
                  <img
                    src="images/spotify/icons/laptopicon.webp"
                    alt=""
                    class="icon"
                  />
                </div>
                <div class="content-vert">
                  <div class="subheading">
                    Feature does not exist on desktop platforms
                  </div>
                  <p>
                    The lack of group session support on desktop Spotify puts
                    desktop users at a disadvantage
                  </p>
                </div>
              </div>
            </div>
            <div class="box-content">
              <div class="content-hor">
                <div class="content-icon no-padding">
                  <img
                    src="images/spotify/icons/messageicon.webp"
                    alt=""
                    class="icon"
                  />
                </div>
                <div class="content-vert">
                  <div class="subheading">
                    Lack of friend activity integration
                  </div>
                  <p>
                    Inviting friends to a group session lacks a direct in-app
                    feature, requiring users to resort to sending invite links
                    via text or social media
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr class="divider content" />
      <section class="project-section">
        <SectionHeading
          headerTag="USER PERSONA"
          sectionTitle="Introducing Michelle & Edward"
        />
        <div class="content-details">
          <div class="title">A look from a different perspective</div>
          <div class="border-box gap">
            <div class="box-content outline">
              <div class="content-hor">
                <div class="content-icon no-padding">
                  <img
                    src="images/spotify/michelle.webp"
                    alt=""
                    class="icon large"
                  />
                </div>
                <div class="content-vert">
                  <div class="subheading">Michelle</div>
                  <p>
                    Michelle, a party enthusiast, creates perfect playlists for
                    her events. Prior to each gathering, she dedicates herself
                    to selecting tracks, ensuring an unforgettable experience.
                    In her quest for new music, she dreams of a feature allowing
                    guests to queue up favorite tracks with a voting system for
                    an enhanced party experience.
                  </p>
                </div>
              </div>
            </div>
            <div class="box-content outline">
              <div class="content-hor">
                <div class="content-icon no-padding">
                  <img
                    src="images/spotify/edward.webp"
                    alt=""
                    class="icon large"
                  />
                </div>
                <div class="content-vert">
                  <div class="subheading">Edward</div>
                  <p>
                    Edward is an avid music listener who loves to play songs
                    with his friends. He recently found out about the group
                    session feature Spotify implemented. He likes the idea of
                    such feature, but finds it tedious to constantly invite his
                    friends through links to listen along with him. He wishes
                    there was a better invitation system in place so he can
                    continue to invite the same friends to his sessions.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>

  <style>
    .project-content-wrapper {
      background-color: #111111;
      padding: 10rem 0 10rem 0;
      width: 100%;
      max-width: 90rem;
      margin-left: auto;
      margin-right: auto;
    }

    .preview-wrapper {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      padding: 5rem 3rem;
    }

    .dark-glassbox {
      border-radius: 1.5rem;
      backdrop-filter: blur(1rem);
      border: 1px solid #f5f5f715;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
    }

    .project-section {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      max-width: 90rem;
      margin: 0 auto;
    }

    .title {
      font-size: 2rem;
      color: #f5f5f7;
      text-decoration: none;
      user-select: none;
      flex: 1;
      font-weight: 530;
    }

    .text-description {
      color: #868686;
      user-select: none;
      line-height: 1.6;
      font-weight: 450;
      font-size: 1.125rem;
      flex: 1;
      font-weight: 450;
    }

    .content-details {
      display: flex;
      flex-direction: row;
      gap: 5rem;
    }

    .subheading {
      font-size: 1.5rem;
      color: #f5f5f7;
      text-decoration: none;
      user-select: none;
      flex: 1;
      font-weight: 530;
    }

    .image-wrapper {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 3rem 0;
    }

    .image-row {
      display: flex;
      flex-direction: row;
      width: auto;
      margin: 0 auto;
      gap: 5rem;
    }

    .border-box {
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      width: 50%;
      overflow: hidden;
    }

    .border-box.gap {
      gap: 1.5rem;
    }

    .box-content {
      background: #181818;
      padding: 2rem;
      color: #868686;
      user-select: none;
      line-height: 1.6;
      font-weight: 430;
      font-size: 1.125rem;
      flex: 1;
    }

    .box-content.outline {
      background: none;
      border: 1px solid #f5f5f715;
      border-radius: 1rem;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
    }

    .content-vert {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .content-icon {
      padding-bottom: 1rem;
    }

    .icon {
      width: 2rem;
      height: 2rem;
    }

    .content-hor {
      display: flex;
      flex-direction: row;
      gap: 1.75rem;
      align-items: center;
    }

    .no-padding {
      padding: 0 0 0 0;
    }

    .icon.large {
      width: 5rem;
      height: 5rem;
    }
  </style>
</Layout>
