---
import Layout from "../layouts/Layout.astro";
import ProjectHeader from "../layouts/ProjectHeader.astro";
import ProjectNav from "../components/ProjectNav.astro";
---

<Layout
  title="Andy Duong | Spotify Party"
  description="Enhancing the group listening experience for an immersive music exploration"
>
  <main>
    <ProjectHeader
      tag="RESPONSIVE DESIGN"
      title="Spotify Party"
      description1="Spotify Party strives to enhance the listening experience for users who enjoy music with others. While creating group sessions already exists on Spotify, it currently falls short in terms of functionality and could greatly benefit from improvements. Spotify Party will not only strengthen its current group session capabilities, but will also introduce captivating new features to foster an immersive and enjoyable journey of music exploration."
      description2="I redesigned the elements in the current Spotify UI in Figma on both the mobile and desktop version of the app. I then implemented my design ideas and created functioning prototypes."
      role="UI/UX Designer"
      tools="Figma, Google Forms, Optimal Workshop, After Effects"
      timeline="8 weeks (June - July 2023)"
      videoSrc="videos/spotify/spotifysessionplaylist.mp4"
      prototypeLink="https://www.figma.com/proto/5ciCRD3R2H8jz0fRfKJPJD/Spotify-Party-Landing-Page?page-id=0%3A1&type=design&node-id=1-2&viewport=1334%2C874%2C0.71&t=MT5QwGlDdOlSKv5J-1&scaling=scale-down"
    />
    <ProjectNav
      prevLink="/mechmarket"
      prevText="mechmarket"
      nextLink="/sorette"
      nextText="sorette"
    />
    <section class="project-section">
      <div class="heading">
        <div class="header-tag">PROBLEM STATEMENT</div>
        <div class="text-container">
          <div class="section-title">
            How can we revitalize group listening for an improved experience,
            addressing challenges and enhancing accessibility effectively?
          </div>
        </div>
      </div>
      <div class="content-details">
        <p class="title-medium">Solving the issues</p>
        <div class="border-box">
          <div class="box-content">
            <div class="content-hor">
              <div class="content-icon no-padding">
                <img
                  src="images/spotify/icons/searchicon.webp"
                  alt=""
                  class="icon"
                />
              </div>
              <div class="content-vert">
                <div class="title-small">
                  Group session feature is hard to locate
                </div>
                <p>
                  The current placement of initiating a group session feature is
                  hidden under the device lists screen which users can overlook
                </p>
              </div>
            </div>
          </div>
          <div class="box-content">
            <div class="content-hor">
              <div class="content-icon no-padding">
                <img
                  src="images/spotify/icons/laptopicon.webp"
                  alt=""
                  class="icon"
                />
              </div>
              <div class="content-vert">
                <div class="title-small">
                  Feature does not exist on desktop platforms
                </div>
                <p>
                  The lack of group session support on desktop Spotify puts
                  desktop users at a disadvantage
                </p>
              </div>
            </div>
          </div>
          <div class="box-content">
            <div class="content-hor">
              <div class="content-icon no-padding">
                <img
                  src="images/spotify/icons/messageicon.webp"
                  alt=""
                  class="icon"
                />
              </div>
              <div class="content-vert">
                <div class="title-small">
                  Lack of friend activity integration
                </div>
                <p>
                  Inviting friends to a group session lacks a direct in-app
                  feature, requiring users to resort to sending invite links via
                  text or social media
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</Layout>
