---
import Layout from "../layouts/Layout.astro";
import ProjectHeader from "../layouts/ProjectHeader.astro";
import ProjectNav from "../components/ProjectNav.astro";
import ImageHeader from "../components/ImageHeader.astro";
import SectionHeading from "../components/SectionHeading.astro";
---

<Layout
  title="Andy Duong | Spotify Party"
  description="Enhancing the group listening experience for an immersive music exploration"
>
  <main>
    <ProjectHeader
      tag="RESPONSIVE DESIGN"
      title="Spotify Party"
      description1="Spotify Party strives to enhance the listening experience for users who enjoy music with others. While creating group sessions already exists on Spotify, it currently falls short in terms of functionality and could greatly benefit from improvements. Spotify Party will not only strengthen its current group session capabilities, but will also introduce captivating new features to foster an immersive and enjoyable journey of music exploration."
      description2="I redesigned the elements in the current Spotify UI in Figma on both the mobile and desktop version of the app. I then implemented my design ideas and created functioning prototypes."
      role="UI/UX Designer"
      tools="Figma, Google Forms, Optimal Workshop, After Effects"
      timeline="8 weeks (June - July 2023)"
      videoSrc="videos/spotify/spotifysessionplaylist.mp4"
      prototypeLink="https://www.figma.com/proto/5ciCRD3R2H8jz0fRfKJPJD/Spotify-Party-Landing-Page?page-id=0%3A1&type=design&node-id=1-2&viewport=1334%2C874%2C0.71&t=MT5QwGlDdOlSKv5J-1&scaling=scale-down"
    />
    <article class="project-content-wrapper">
      <ProjectNav
        prevLink="/mechmarket"
        prevText="mechmarket"
        nextLink="/sorette"
        nextText="sorette"
      />
      <ImageHeader
        image1={{
          src: "images/spotify/preview1.webp",
          description: "Group session queue system screen",
          alt: "Group session queue system screen",
        }}
        image2={{
          src: "images/spotify/preview2.webp",
          description: "Group session collaborative playlist page",
          alt: "Group session collaborative playlist page",
        }}
        image3={{
          src: "images/spotify/preview3.webp",
          description: "Automated curated playlist after the ended session",
          alt: "Automated curated playlist after the ended session",
        }}
        image4={{
          src: "images/spotify/preview4.webp",
          description:
            "Mobile design invite friends & current listeners screen",
          alt: "Mobile design invite friends & current listeners screen",
        }}
      />
      <hr class="divider content" />
      <section class="project-section bg-light">
        <SectionHeading
          headerTag="FINAL SOLUTION"
          sectionTitle="Evolving the group listening experience by introducing improved functionality and features for all Spotify users"
        />
      </section>
    </article>
  </main>
</Layout>

<style>
  .project-content-wrapper {
    background-color: #111111;
    padding: 10rem 0 10rem 0;
    width: 100%;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }
</style>
