---
import Layout from "../layouts/Layout.astro";
import ProjectHeader from "../layouts/ProjectHeader.astro";
import ProjectNav from "../components/ProjectNav.astro";
import ImageHeader from "../components/ImageHeader.astro";
import SectionHeading from "../components/SectionHeading.astro";
import VideoPreview from "../components/VideoPreview.astro";
---

<Layout
  title="Andy Duong | Spotify Party"
  description="Enhancing the group listening experience for an immersive music exploration"
>
  <main>
    <ProjectHeader
      tag="RESPONSIVE DESIGN"
      title="Spotify Party"
      description1="Spotify Party strives to enhance the listening experience for users who enjoy music with others. While creating group sessions already exists on Spotify, it currently falls short in terms of functionality and could greatly benefit from improvements. Spotify Party will not only strengthen its current group session capabilities, but will also introduce captivating new features to foster an immersive and enjoyable journey of music exploration."
      description2="I redesigned the elements in the current Spotify UI in Figma on both the mobile and desktop version of the app. I then implemented my design ideas and created functioning prototypes."
      role="UI/UX Designer"
      tools="Figma, Google Forms, Optimal Workshop, After Effects"
      timeline="8 weeks (June - July 2023)"
      videoSrc="videos/spotify/spotifysessionplaylist.mp4"
      prototypeLink="https://www.figma.com/proto/5ciCRD3R2H8jz0fRfKJPJD/Spotify-Party-Landing-Page?page-id=0%3A1&type=design&node-id=1-2&viewport=1334%2C874%2C0.71&t=MT5QwGlDdOlSKv5J-1&scaling=scale-down"
    />
    <article class="project-content-wrapper">
      <ProjectNav
        prevLink="/mechmarket"
        prevText="mechmarket"
        nextLink="/sorette"
        nextText="sorette"
      />
      <ImageHeader
        image1={{
          src: "images/spotify/preview1.webp",
          description: "Group session queue system screen",
          alt: "Group session queue system screen",
        }}
        image2={{
          src: "images/spotify/preview2.webp",
          description: "Group session collaborative playlist page",
          alt: "Group session collaborative playlist page",
        }}
        image3={{
          src: "images/spotify/preview3.webp",
          description: "Automated curated playlist after the ended session",
          alt: "Automated curated playlist after the ended session",
        }}
        image4={{
          src: "images/spotify/preview4.webp",
          description:
            "Mobile design invite friends & current listeners screen",
          alt: "Mobile design invite friends & current listeners screen",
        }}
      />
      <hr class="divider content" />
      <section class="project-section">
        <SectionHeading
          headerTag="FINAL SOLUTION"
          sectionTitle="Evolving the group listening experience by introducing improved functionality and features for all Spotify users"
        />
        <div class="preview-wrapper dark-glassbox">
          <VideoPreview
            videoSrc="videos/spotify/spotifyinvitefriends.mp4"
            title="Invite friends directly from the Friend Activity list"
            description="Easily invite friends directly within the app, eliminating the need for external invitations through links or social media"
          />
          <VideoPreview
            videoSrc="videos/spotify/spotifygroupsetting.mp4"
            title="Moderate your group sessions"
            description="Streamline your sessions with customizable group settings. Delegate admin privileges and fine-tune options for a smoother, more enjoyable experience"
          />
          <VideoPreview
            videoSrc="videos/spotify/spotifysessionplaylist.mp4"
            title="Automatically receive curated group session playlists"
            description="Rediscover past group sessions with curated playlists of previously played tracks. Replay any missed songs or effortlessly share playlists with others"
          />
        </div>
      </section>
    </article>
  </main>
</Layout>

<style>
  .project-content-wrapper {
    background-color: #111111;
    padding: 10rem 0 10rem 0;
    width: 100%;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }

  .preview-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 5rem 3rem;
  }

  .dark-glassbox {
    border-radius: 1.5rem;
    backdrop-filter: blur(1rem);
    border: 1px solid #f5f5f715;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
  }

  .project-section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    max-width: 90rem;
    margin: 0 auto;
  }
</style>
