---
import Layout from "../layouts/Layout.astro";
import ProjectHeader from "../components/ProjectHeader.astro";
import ProjectNav from "../components/ProjectNav.astro";
import ImageHeader from "../components/ImageHeader.astro";
import SectionHeading from "../components/SectionHeading.astro";
import VideoPreview from "../components/VideoPreview.astro";
---

<Layout
  title="Andy Duong | Spotify Party"
  description="Enhancing the group listening experience for an immersive music exploration"
>
  <main>
    <ProjectHeader
      tag="RESPONSIVE DESIGN"
      title="Spotify Party"
      description1="Spotify Party strives to enhance the listening experience for users who enjoy music with others. While creating group sessions already exists on Spotify, it currently falls short in terms of functionality and could greatly benefit from improvements. Spotify Party will not only strengthen its current group session capabilities, but will also introduce captivating new features to foster an immersive and enjoyable journey of music exploration."
      description2="I redesigned the elements in the current Spotify UI in Figma on both the mobile and desktop version of the app. I then implemented my design ideas and created functioning prototypes."
      role="UI/UX Designer"
      tools="Figma, Google Forms, Optimal Workshop, After Effects"
      timeline="8 weeks (June - July 2023)"
      videoSrc="videos/spotify/spotifysessionplaylist.mp4"
      prototypeLink="https://www.figma.com/proto/5ciCRD3R2H8jz0fRfKJPJD/Spotify-Party-Landing-Page?page-id=0%3A1&type=design&node-id=1-2&viewport=1334%2C874%2C0.71&t=MT5QwGlDdOlSKv5J-1&scaling=scale-down"
    />
    <article class="project-content-wrapper">
      <ProjectNav
        prevLink="/mechmarket"
        prevText="mechmarket"
        nextLink="/sorette"
        nextText="sorette"
      />
      <ImageHeader
        image1={{
          src: "images/spotify/preview1.webp",
          description: "Group session queue system screen",
          alt: "Group session queue system screen",
        }}
        image2={{
          src: "images/spotify/preview2.webp",
          description: "Group session collaborative playlist page",
          alt: "Group session collaborative playlist page",
        }}
        image3={{
          src: "images/spotify/preview3.webp",
          description: "User is invited to a group session",
          alt: "User is invited to a group session",
        }}
        image4={{
          src: "images/spotify/preview4.webp",
          description: "User views curated group session playlist",
          alt: "User views curated group session playlist",
        }}
      />
      <hr class="divider content" />
      <section class="project-section">
        <SectionHeading
          headerTag="FINAL SOLUTION"
          sectionTitle="Evolving the group listening experience by introducing improved functionality and features for all Spotify users"
        />
        <div class="preview-wrapper dark-glassbox">
          <VideoPreview
            videoSrc="videos/spotify/spotifyinvitefriends.mp4"
            title="Invite friends directly from the Friend Activity list"
            description="Easily invite friends directly within the app, eliminating the need for external invitations through links or social media"
          />
          <VideoPreview
            videoSrc="videos/spotify/spotifygroupsetting.mp4"
            title="Moderate your group sessions"
            description="Streamline your sessions with customizable group settings. Delegate admin privileges and fine-tune options for a smoother, more enjoyable experience"
          />
          <VideoPreview
            videoSrc="videos/spotify/spotifysessionplaylist.mp4"
            title="Automatically receive curated group session playlists"
            description="Rediscover past group sessions with curated playlists of previously played tracks. Replay any missed songs or effortlessly share playlists with others"
          />
        </div>
      </section>
      <hr class="divider content" />
      <section class="project-section">
        <SectionHeading
          headerTag="USER RESEARCH"
          sectionTitle="Evaluating the user flow for initiating a Spotify group session"
        />
        <div class="content-details">
          <span class="title">First click test</span>
          <p class="text-description">
            In the initial phase, I assessed users' ability to navigate to the
            group session menu through a first-click test with <span
              style="color: #e3e3e8;">7 participants</span
            > on the Spotify mobile app. While I planned to extend the test to the
            desktop platform, the feature was exclusive to mobile. Despite this limitation,
            the early findings provided crucial insights for subsequent analyses.
          </p>
        </div>
        <div class="image-wrapper">
          <img
            style="margin: 0 auto;"
            src="/images/spotify/firstclicktest.webp"
            alt=""
            draggable="false"
          />
        </div>
        <div class="content-details">
          <span class="title">Survey results</span>
          <p class="text-description">
            A mere <span style="color: #e3e3e8;">28%</span> of users were able to
            successfully locate the appropriate menu. This compelling insight bly
            suggests that the menu's placement may be unintuitive, potentially leading
            users to overlook its presence. Users tend to overlook the group session
            feature on the platform due to its unintuitive placement and current
            lack of features it current offers.
          </p>
        </div>
        <div class="image-wrapper">
          <img
            style="margin: 0 auto;"
            src="images/spotify/surveyresults1.webp"
            alt=""
            draggable="false"
          />
          <figcaption class="subheading" style="margin: 0 auto;">
            But...
          </figcaption>
          <div class="image-row">
            <img
              src="images/spotify/surveyresults2.webp"
              alt=""
              draggable="false"
            />
            <img
              src="images/spotify/surveyresults3.webp"
              alt=""
              draggable="false"
            />
          </div>
        </div>
        <div class="content-details">
          <div class="title">A word from our participants</div>
          <div class="border-box">
            <p class="box-content">
              <span style="color: #ddddde;">
                "Difficult to invite/join friends."
              </span>
              Didn’t know about it until someone else showed me. There also lies
              the potential for queuing songs that others don't enjoy.
            </p>
            <p class="box-content">
              <span style="color: #ddddde;">
                "Anyone can play music with no restriction,"
              </span>
              so one person can skip another's song and play what they want. Can't
              see who played what song.
            </p>
          </div>
        </div>
        <div class="content-details">
          <div class="title">Key Insights</div>
          <div class="border-box gap">
            <div class="box-content outline">
              <div class="content-vert">
                <div class="content-icon">
                  <img
                    src="images/spotify/icons/confusedicon.webp"
                    alt=""
                    class="icon"
                  />
                </div>
                <div class="subheading">User Experience</div>
                <p>
                  Users have difficulty in inviting friends. The user onboarding
                  msut be enhanced to provide a more intuitive experience for
                  those wishing to invite and join friends
                </p>
              </div>
            </div>
            <div class="box-content outline">
              <div class="content-vert">
                <div class="content-icon">
                  <img
                    src="images/spotify/icons/conflictsicon.webp"
                    alt=""
                    class="icon"
                  />
                </div>
                <div class="subheading">Playback Conflicts</div>
                <p>
                  The potential conflicts stemming from track skipping by any
                  participant must be addressed as users are facing disruptive
                  behavior by malicious users
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr class="divider content" />
      <section class="project-section">
        <SectionHeading
          headerTag="PROBLEM STATEMENT"
          sectionTitle="How can we revitalize group listening for an improved experience, addressing challenges and enhancing accessibility effectively?"
        />
        <div class="content-details">
          <div class="title">Solving the issues</div>
          <div class="border-box">
            <div class="box-content">
              <div class="content-hor">
                <div class="content-icon no-padding">
                  <img
                    src="images/spotify/icons/searchicon.webp"
                    alt=""
                    class="icon"
                  />
                </div>
                <div class="content-vert">
                  <div class="subheading">
                    Group session feature is hard to locate
                  </div>
                  <p>
                    The current placement of initiating a group session feature
                    is hidden under the device lists screen which users can
                    overlook
                  </p>
                </div>
              </div>
            </div>
            <div class="box-content">
              <div class="content-hor">
                <div class="content-icon no-padding">
                  <img
                    src="images/spotify/icons/laptopicon.webp"
                    alt=""
                    class="icon"
                  />
                </div>
                <div class="content-vert">
                  <div class="subheading">
                    Feature does not exist on desktop platforms
                  </div>
                  <p>
                    The lack of group session support on desktop Spotify puts
                    desktop users at a disadvantage
                  </p>
                </div>
              </div>
            </div>
            <div class="box-content">
              <div class="content-hor">
                <div class="content-icon no-padding">
                  <img
                    src="images/spotify/icons/messageicon.webp"
                    alt=""
                    class="icon"
                  />
                </div>
                <div class="content-vert">
                  <div class="subheading">
                    Lack of friend activity integration
                  </div>
                  <p>
                    Inviting friends to a group session lacks a direct in-app
                    feature, requiring users to resort to sending invite links
                    via text or social media
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr class="divider content" />
      <section class="project-section">
        <SectionHeading
          headerTag="USER PERSONA"
          sectionTitle="Introducing Michelle & Edward"
        />
        <div class="content-details">
          <div class="title">A look from a different perspective</div>
          <div class="border-box gap">
            <div class="box-content outline">
              <div class="content-hor">
                <div class="content-icon no-padding">
                  <img
                    src="images/spotify/michelle.webp"
                    alt=""
                    class="icon large"
                  />
                </div>
                <div class="content-vert">
                  <div class="subheading">Michelle</div>
                  <p>
                    Michelle, a party enthusiast, creates perfect playlists for
                    her events. Prior to each gathering, she dedicates herself
                    to selecting tracks, ensuring an unforgettable experience.
                    In her quest for new music, she dreams of a feature allowing
                    guests to queue up favorite tracks with a voting system for
                    an enhanced party experience.
                  </p>
                </div>
              </div>
            </div>
            <div class="box-content outline">
              <div class="content-hor">
                <div class="content-icon no-padding">
                  <img
                    src="images/spotify/edward.webp"
                    alt=""
                    class="icon large"
                  />
                </div>
                <div class="content-vert">
                  <div class="subheading">Edward</div>
                  <p>
                    Edward is an avid music listener who loves to play songs
                    with his friends. He recently found out about the group
                    session feature Spotify implemented. He likes the idea of
                    such feature, but finds it tedious to constantly invite his
                    friends through links to listen along with him. He wishes
                    there was a better invitation system in place so he can
                    continue to invite the same friends to his sessions.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr class="divider content" />
      <section class="project-section">
        <SectionHeading
          headerTag="COMPETITIVE ANALYSIS"
          sectionTitle="Analyzing Spotify's Competitors"
        />
        <div class="content-details">
          <span class="title">Diving deeper</span>
          <p class="text-description">
            I conducted a comprehensive analysis of Spotify's direct
            competitors, assessing their user interface and implementation of
            listening group sessions with others. This endeavor allowed me to
            delve deeper into their approach to user experience as well as
            explore other related functionalities, uncovering valuable insights
            in the process.
          </p>
        </div>
        <div class="image-row">
          <figure class="image-container">
            <img
              class="project-image"
              src="images/spotify/applemusic.webp"
              alt=""
              draggable="false"
            />
          </figure>
          <figure class="image-container">
            <img
              class="project-image"
              src="images/spotify/amazonmusic.webp"
              alt=""
              draggable="false"
            />
          </figure>
          <figure class="image-container">
            <img
              class="project-image"
              src="images/spotify/youtubemusic.webp"
              alt=""
              draggable="false"
            />
          </figure>
        </div>
        <div class="content-details">
          <div class="title">Findings</div>
          <div class="border-box gap">
            <div class="box-content outline">
              <div class="content-vert">
                <div class="content-icon">
                  <img
                    src="images/spotify/icons/layouticon.webp"
                    alt=""
                    class="icon"
                  />
                </div>
                <div class="subheading">Similar User Experience</div>
                <p>
                  Each platform delivers an intuitive and cohesive user
                  interface with consistent design elements and a familiar
                  layout for a user-friendly experience
                </p>
              </div>
            </div>
            <div class="box-content outline">
              <div class="content-vert">
                <div class="content-icon">
                  <img
                    src="images/spotify/icons/speakericon.webp"
                    alt=""
                    class="icon"
                  />
                </div>
                <div class="subheading">Cross-platform compatibility</div>
                <p>
                  These platforms allow the user to play media through multiple
                  devices including phones, tablets, computers and TVs
                </p>
              </div>
            </div>
            <div class="box-content outline">
              <div class="content-vert">
                <div class="content-icon">
                  <img
                    src="images/spotify/icons/playlisticon.webp"
                    alt=""
                    class="icon"
                  />
                </div>
                <div class="subheading">Playlist Sharing</div>
                <p>
                  Users are able to share their playlists with others. The
                  process of sharing a playlist involves sending a shareable
                  link
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <hr class="divider content" />
      <section class="project-section">
        <SectionHeading
          headerTag="INFORMATION ARCHITECTURE"
          sectionTitle="Laying out the floor plan"
        />
        <div class="content-details">
          <span class="title">Creating the flow</span>
          <p class="text-description">
            I crafted three unique user flows and developed a comprehensive
            sitemap for Spotify Party, recognizing the crucial role of smooth
            navigation in every interaction. My objective was to simplify the
            flow, emphasizing ease of use, and guarantee seamless integration
            with Spotify's established design principles
          </p>
        </div>
        <ImageHeader
          image1={{
            src: "images/spotify/sitemap.webp",
            description: "Sitemap",
            alt: "Sitemap",
          }}
          image2={{
            src: "images/spotify/userflow1.webp",
            description: "User initiates a group session and invites friends",
            alt: "User initiates a group session and invites friends",
          }}
          image3={{
            src: "images/spotify/userflow2.webp",
            description: "User is invited to a group session",
            alt: "User is invited to a group session",
          }}
          image4={{
            src: "images/spotify/userflow3.webp",
            description: "User views curated group session playlist",
            alt: "User views curated group session playlist",
          }}
        />
      </section>
      <hr class="divider content" />
      <section class="project-section">
        <SectionHeading
          headerTag="USABILITY TESTING"
          sectionTitle="Evaluating the Spotify Party prototype"
        />
        <div class="content-details">
          <span class="title">Second click test</span>
          <p class="text-description">
            I conducted a second first-click test involving <span
              style="color: #e3e3e8;">9 new participants</span
            >
            to assess how well users grasped tasks within the Spotify Party prototype.
            The test encompassed demonstrations of both mobile and desktop versions,
            with a specific emphasis on participants' capability to initiate a group
            session.
          </p>
        </div>
        <div class="image-wrapper gap">
          <img
            style="margin: 0 auto;"
            src="images/spotify/surveyresults4.webp"
            alt=""
            draggable="false"
          />
          <img
            style="margin: 0 auto;"
            src="images/spotify/surveyresults5.webp"
            alt=""
            draggable="false"
          />
        </div>
        <div class="content-details">
          <span class="title">Significant improvement over the initial 28%</span
          >
          <p class="text-description">
            With a completion rate surpassing <span style="color: #e3e3e8;"
              >77%</span
            >, the results bly indicate that the Spotify Party prototype
            exhibits a higher level of intuitiveness and user-friendliness in
            comparison to Spotify's current user interface. Participants were
            able to quickly navigate to the corresponding interaction with an
            average time taken of <span style="color: #e3e3e8;"
              >26.5 seconds</span
            >
          </p>
        </div>
      </section>
      <hr class="divider content" />
      <section class="project-section">
        <SectionHeading headerTag="REFLECTION" sectionTitle="Wrapping up" />
        <div class="content-details">
          <div class="title">Retrospective Insights</div>
          <div class="border-box gap">
            <div class="box-content outline">
              <div class="content-vert">
                <div class="subheading">Project Takeaways</div>
                <p>
                  The inspiration for Spotify Party came from encountering a
                  limitation with the group session feature in the Spotify app.
                  This project allowed me to explore innovative design ideas
                  while adhering to guidelines, deepening my understanding of
                  app organization. Prototyping was challenging yet rewarding,
                  refining my skills in smart animate techniques and maintaining
                  visual continuity across platforms. Spotify Party marked my
                  initial venture into designing a responsive design for both
                  the desktop and mobile platform
                </p>
              </div>
            </div>
            <div class="box-content outline">
              <div class="content-vert">
                <div class="subheading">Things I would do differently</div>
                <p>
                  In hindsight, I devoted considerable time to manual tasks like
                  copying album cover arts and track information, which
                  prolonged the design phase. Reflecting on this, I realize I
                  could have streamlined the process by reusing assets and
                  focusing more on functional aspects to expedite project
                  completion
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
  </main>

  <style>
    .project-content-wrapper {
      background-color: #111111;
      padding: 10rem 0 10rem 0;
      width: 100%;
      max-width: 90rem;
      margin-left: auto;
      margin-right: auto;
    }

    .preview-wrapper {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      padding: 5rem 3rem;
    }

    .dark-glassbox {
      border-radius: 1.5rem;
      backdrop-filter: blur(1rem);
      border: 1px solid #f5f5f715;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
    }

    .project-section {
      display: flex;
      flex-direction: column;
      gap: 7rem;
      max-width: 90rem;
      margin: 0 auto;
    }

    .title {
      font-size: 2rem;
      color: #f5f5f7;
      text-decoration: none;
      user-select: none;
      flex: 1;
      font-weight: 530;
    }

    .text-description {
      color: #868686;
      user-select: none;
      line-height: 1.6;
      font-weight: 450;
      font-size: 1.125rem;
      flex: 1;
      font-weight: 450;
    }

    .content-details {
      display: flex;
      flex-direction: row;
      gap: 5rem;
    }

    .subheading {
      font-size: 1.5rem;
      color: #f5f5f7;
      text-decoration: none;
      user-select: none;
      flex: 1;
      font-weight: 530;
    }

    .image-wrapper {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      padding: 3rem 0;
    }

    .image-wrapper.row {
      gap: 3rem;
    }

    .image-row {
      display: flex;
      flex-direction: row;
      width: auto;
      margin: 0 auto;
      gap: 10rem;
    }

    .border-box {
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      width: 50%;
      overflow: hidden;
    }

    .border-box.gap {
      gap: 1.5rem;
    }

    .box-content {
      background: #181818;
      padding: 2rem;
      color: #868686;
      user-select: none;
      line-height: 1.6;
      font-weight: 430;
      font-size: 1.125rem;
      flex: 1;
    }

    .box-content.outline {
      background: none;
      border: 1px solid #f5f5f715;
      border-radius: 1rem;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
    }

    .content-vert {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .content-icon {
      padding-bottom: 1rem;
    }

    .icon {
      width: 2rem;
      height: 2rem;
    }

    .content-hor {
      display: flex;
      flex-direction: row;
      gap: 1.75rem;
      align-items: center;
    }

    .no-padding {
      padding: 0 0 0 0;
    }

    .icon.large {
      width: 5rem;
      height: 5rem;
    }

    .project-image {
      max-width: 100%;
      object-fit: cover;
      user-select: none;
      border-radius: 1rem;
    }
  </style>
</Layout>
