<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-content">
      <div class="title">© 2024 Andy Duong</div>
      <nav class="footer-nav">
        <a class="ext-link" href="mailto:contact@andyduong.work"> Email ↗ </a>
      </nav>
    </div>
  </div>
</footer>

<style>
  .footer {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    user-select: none;
    margin: 0 auto;
    padding-left: calc(2rem + 5%);
    padding-right: calc(2rem + 5%);
    justify-content: center;
    align-items: center;
    background: rgb(29, 29, 31);
  }

  .footer-wrapper {
    max-width: 90rem;
    width: 100%;
    max-width: 61.25rem;
  }

  .divider-wrapper {
    width: auto;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 0;
  }

  .title {
    color: #868686;
    user-select: none;
    line-height: 14px;
    font-weight: 600;
    font-size: 14px;
    flex: 1;
    font-weight: 600;
  }

  .footer-nav {
    display: flex;
    gap: 5rem;
  }

  .ext-link {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 0.8rem 1rem;
  }

  /* animations */
  .ext-link:hover {
    text-decoration: underline;
  }

  /* media queries */
  @media (max-width: 768px) {
    /* Project Wrapper */
    .footer {
      display: none;
    }
  }
</style>
