<header class="header">
  <div class="header-wrapper">
    <nav class="header-nav" id="headerNav">
      <a
        href="/"
        class="header-nav-link left"
        class:list={{ active: Astro.url.pathname === "/" }}>Work</a
      >
      <a
        href="/about"
        class="header-nav-link right"
        class:list={{ active: Astro.url.pathname === "/about" }}>About</a
      >
      <!-- <div class="dropdown">
        <button class="dropbtn">
          <img src="images/menu/menu.webp" alt="" width="24" height="24" />
        </button>
        <div class="dropdown-wrapper">
          <div class="dropdown-content">
            <a
              href="https://www.linkedin.com/in/andyduong510/"
              class="ext-link-mobile"
              target="_blank"
              rel="noopener noreferrer">Resume ↗</a
            >
            <a
              href="https://www.linkedin.com/in/andyduong510/"
              class="ext-link-mobile"
              target="_blank"
              rel="noopener noreferrer">LinkedIn ↗</a
            >
            <a
              href="https://www.linkedin.com/in/andyduong510/"
              class="ext-link-mobile"
              target="_blank"
              rel="noopener noreferrer">Email ↗</a
            >
          </div>
        </div>
      </div> -->
    </nav>
    <ul>
      <li class="link-left">
        <a
          href="https://www.linkedin.com/in/andyduong510/"
          class="ext-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          LinkedIn ↗
        </a>
      </li>
      <li class="link-right">
        <a
          href="/Andy_Duong_Resume.pdf"
          class="ext-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          Resume ↗
        </a>
      </li>
    </ul>
  </div>
</header>
<script>
  sessionStorage.setItem("animationFlag", "reload");
  document.addEventListener("DOMContentLoaded", function () {
    var elements = document.querySelectorAll(
      ".header-nav, .link-left, .link-right"
    );

    elements.forEach(function (element) {
      if (element) {
        element.classList.add("fadeup");

        if (
          element.classList.contains("link-left") ||
          element.classList.contains("link-right")
        ) {
          (element as HTMLElement).style.visibility = "hidden";
        }

        if (element.classList.contains("link-left")) {
          (element as HTMLElement).style.animationDelay = "0.3s";
        } else if (element.classList.contains("link-right")) {
          (element as HTMLElement).style.animationDelay = "0.5s";
        }

        element.addEventListener("animationstart", function () {
          sessionStorage.setItem("animationFlag", "played");

          if (
            element.classList.contains("link-left") ||
            element.classList.contains("link-right")
          ) {
            (element as HTMLElement).style.visibility = "visible";
          }
        });
      }
    });
  });
</script>

<style>
  .header {
    height: 8rem;
    padding-left: calc(2rem + 5%);
    padding-right: calc(2rem + 5%);
    position: fixed;
    user-select: none;
    z-index: 1000;
    width: 100%;
  }

  .header-nav {
    display: flex;
    gap: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 0.3rem 0.5rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    border: 1px solid #f5f5f715;
    background-color: #86868b10;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease;
  }

  .header-wrapper {
    display: grid;
    max-width: 61.25rem;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) 0;
    height: 6rem;
  }

  .header-nav-link {
    font-size: 0.875rem;
    font-weight: 500;
    color: #f5f5f7;
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    width: 100%;
  }

  .header-nav-link.left,
  .header-nav-link.right {
    background: none;
    transition: background 0.3s ease;
    border-radius: 1rem;
  }

  .header-nav-link.left.active,
  .header-nav-link.right.active {
    background: #86868b35;
  }

  ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 1rem;
    justify-self: end;
    width: max-content;
    list-style: none;
  }

  .ext-link {
    border: 1px solid #f5f5f700;
    font-size: 0.875rem;
    font-weight: 500;
    color: #f5f5f7;
    text-decoration: none;
    border-radius: 1.5rem;
    transition: background 0.3s ease;
    padding: 0.8rem 1rem;
  }

  .dropdown {
    background-image: url("images/menu/menu.webp");
    display: none;
  }

  .dropdown-wrapper {
    gap: 0.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 0.3rem 0.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    background-color: #86868b10;
    position: absolute;
    border: 1px solid #f5f5f715;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
    top: 3.25rem;
    left: 5rem;
  }

  .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .ext-link-mobile {
    border: 1px solid #f5f5f700;
    font-size: 0.875rem;
    font-weight: 500;
    color: #f5f5f7;
    text-decoration: none;
    border-radius: 1rem;
    padding: 0.8rem 1rem;
    white-space: nowrap;
    transition: background 0.3s ease;
  }

  /* animations */
  .header-nav:hover,
  .dropdown-wrapper:hover {
    border: 1px solid #f5f5f715;
    background-color: #86868b25;
  }

  .header-nav-link.left:hover {
    background: linear-gradient(270deg, #ffffff00, #86868b25);
  }

  .header-nav-link.right:hover {
    background: linear-gradient(90deg, #ffffff00, #86868b25);
  }

  .header-nav-link.left.active:hover {
    background: linear-gradient(270deg, #ffffff00, #86868b25), #86868b35;
  }

  .header-nav-link.right.active:hover {
    background: linear-gradient(90deg, #ffffff00, #86868b25), #86868b35;
  }

  .ext-link:hover {
    border: 1px solid #f5f5f715;
    background-color: #86868b15;
  }

  .fadeup {
    animation: fadeUpAnimation 1s ease forwards;
  }

  @keyframes fadeUpAnimation {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  @media (max-width: 768px) {
    /* Project Wrapper */
    .header {
      padding: 0 1rem;
      height: 6rem;
    }

    ul {
      display: none;
    }

    .dropdown {
      display: block;
    }

    .dropbtn {
      background: none;
      border: none;
      padding: 0;
    }

    .dropbtn img {
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    /* animations */
    .header-nav-link.right:hover,
    .ext-link-mobile:hover {
      background: #86868b25;
    }

    .dropdown:hover {
      background: linear-gradient(90deg, #ffffff00, #86868b25);
    }
  }
</style>
