<header class="header">
  <div class="header-wrapper">
    <nav class="header-nav" id="headerNav">
      <a
        href="/"
        class="header-nav-link left"
        class:list={{ active: Astro.url.pathname === "/" }}>Work</a
      >
      <a
        href="/about"
        class="header-nav-link right"
        class:list={{ active: Astro.url.pathname === "/about" }}>About</a
      >
      <!-- <div class="dropdown">
        <button class="dropbtn">
          <img src="images/menu/menu.webp" alt="" width="24" height="24" />
        </button>
        <div class="dropdown-wrapper">
          <div class="dropdown-content">
            <a
              href="https://www.linkedin.com/in/andyduong510/"
              class="ext-link-mobile"
              target="_blank"
              rel="noopener noreferrer">Resume ↗</a
            >
            <a
              href="https://www.linkedin.com/in/andyduong510/"
              class="ext-link-mobile"
              target="_blank"
              rel="noopener noreferrer">LinkedIn ↗</a
            >
            <a
              href="https://www.linkedin.com/in/andyduong510/"
              class="ext-link-mobile"
              target="_blank"
              rel="noopener noreferrer">Email ↗</a
            >
          </div>
        </div>
      </div> -->
    </nav>
    <ul>
      <li class="link-left">
        <a
          href="https://www.linkedin.com/in/andyduong510/"
          class="ext-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          LinkedIn ↗
        </a>
      </li>
      <li class="link-right">
        <a
          href="/Andy_Duong_Resume.pdf"
          class="ext-link"
          target="_blank"
          rel="noopener noreferrer"
        >
          Resume ↗
        </a>
      </li>
    </ul>
  </div>
</header>

<style>
  .header {
    height: 128px;
    padding-left: calc(32px + 5%);
    padding-right: calc(32px + 5%);
    position: fixed;
    user-select: none;
    z-index: 1000;
    width: 100%;
  }

  .header-nav {
    display: flex;
    gap: 8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 4.8px 8px;
    border-radius: 24px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(245, 245, 247, 0.08);
    background-color: rgba(134, 134, 139, 0.15);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.25);
    transition:
      background-color 0.3s ease,
      border-color 0.3s ease;
  }

  .header-wrapper {
    display: grid;
    max-width: 980px;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    grid-template-columns: minmax(0, 1fr) 0;
    height: 96px;
  }

  .header-nav-link {
    font-size: 14px;
    font-weight: 500;
    color: #f5f5f7;
    text-decoration: none;
    padding: 8px 16px;
    text-align: center;
    width: 100%;
  }

  .header-nav-link.left,
  .header-nav-link.right {
    border-radius: 16px;
    transition: background 0.3s ease;
  }

  .header-nav-link.left.active,
  .header-nav-link.right.active {
    background: rgba(134, 134, 139, 0.21);
  }

  ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 16px;
    justify-self: end;
    width: max-content;
    list-style: none;
  }

  .ext-link {
    border: 1px solid rgba(245, 245, 247, 0);
    font-size: 14px;
    font-weight: 500;
    color: #f5f5f7;
    text-decoration: none;
    border-radius: 16px;
    transition: background 0.3s ease;
    padding: 12.8px 16px;
  }

  .dropdown-wrapper {
    gap: 8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 4.8px 8px;
    border-radius: 16px;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: rgba(134, 134, 139, 0.06);
    position: absolute;
    border: 1px solid rgba(245, 245, 247, 0.08);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.25);
    top: 52px;
    left: 80px;
  }

  .ext-link-mobile {
    border: 1px solid rgba(245, 245, 247, 0);
    font-size: 14px;
    font-weight: 500;
    color: #f5f5f7;
    text-decoration: none;
    border-radius: 16px;
    padding: 12.8px 16px;
    white-space: nowrap;
    transition: background 0.3s ease;
  }

  .header-nav:hover,
  .dropdown-wrapper:hover {
    border: 1px solid rgba(245, 245, 247, 0.13);
    background-color: rgba(134, 134, 139, 0.21);
  }

  .header-nav-link.left:hover {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0),
      rgba(134, 134, 139, 0.21)
    );
  }

  .header-nav-link.right:hover {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(134, 134, 139, 0.21)
    );
  }

  .header-nav-link.left.active:hover {
    background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 0),
        rgba(134, 134, 139, 0.21)
      ),
      rgba(134, 134, 139, 0.21);
  }

  .header-nav-link.right.active:hover {
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(134, 134, 139, 0.21)
      ),
      rgba(134, 134, 139, 0.21);
  }

  .ext-link:hover {
    border: 1px solid rgba(245, 245, 247, 0.13);
    background-color: rgba(134, 134, 139, 0.09);
  }

  .fadeup {
    animation: fadeUpAnimation 1s ease forwards;
  }

  @keyframes fadeUpAnimation {
    from {
      opacity: 0;
      visibility: hidden;
      transform: translateY(16px);
    }
    to {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  @media (max-width: 768px) {
    .header {
      padding: 0 16px;
      height: 96px;
    }

    ul {
      display: none;
    }

    .dropdown {
      display: block;
    }

    .dropbtn {
      background: none;
      border: none;
      padding: 0;
    }

    .dropbtn img {
      justify-content: center;
      align-items: center;
      margin: auto;
    }

    .header-nav-link.right:hover,
    .ext-link-mobile:hover {
      background: rgba(134, 134, 139, 0.15);
    }

    .dropdown:hover {
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0),
        rgba(134, 134, 139, 0.15)
      );
    }
  }
</style>
