---
const { headerTag, sectionTitle } = Astro.props;
---

<div class="heading-container">
  <div class="tag">{headerTag}</div>
  <div class="title">{sectionTitle}</div>
</div>

<style>
  .heading-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .title {
    font-size: 3.5rem;
    color: #f5f5f7;
    user-select: none;
    font-weight: 530;
  }

  .tag {
    font-size: 0.875rem;
    letter-spacing: 3px;
    color: #f5f5f780;
    font-weight: 400;
  }
</style>
