---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
const { title, description, canonical } = Astro.props;

import { join } from "node:path";
import { AstroFont } from "astro-font";

const fontPrefix = import.meta.env.PROD
  ? "/fonts"
  : join(process.cwd(), "public", "fonts");
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#111111" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
    <AstroFont
      config={[
        {
          name: "Editorial New",
          src: [
            {
              style: "italic",
              weight: "500",
              path: join(fontPrefix, "PPEditorialNew-MediumItalic.woff2"),
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
        {
          name: "SF Pro Display",
          src: [
            {
              style: "normal",
              weight: "400",
              path: join(fontPrefix, "SF-Pro-Display-Regular.woff2"),
            },
            {
              style: "normal",
              weight: "500",
              path: join(fontPrefix, "SF-Pro-Display-Medium.woff2"),
            },
            {
              style: "normal",
              weight: "600",
              path: join(fontPrefix, "SF-Pro-Display-Semibold.woff2"),
            },
            {
              style: "normal",
              weight: "700",
              path: join(fontPrefix, "SF-Pro-Display-Bold.woff2"),
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
    <style is:global>
      .project-title {
        font-size: 64px;
        line-height: 68px;
        color: var(--highlight-text);
        font-weight: 500;
        text-decoration: none;
        user-select: none;
      }

      .project-header-details {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: 100%;
        gap: 1rem;
        z-index: 1000;
      }

      .project-thumbnail {
        position: relative;
      }

      .project-thumbnail img {
        max-width: 100%;
        margin: 0 auto;
      }

      .def-image {
        width: 100%;
        height: auto;
      }

      .project-header-wrapper {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1260px;
        margin: 0 auto;
        align-items: center;
        gap: 1rem;
        padding: 2rem;
      }

      .project-button {
        border: none;
        color: #f5f5f7;
        padding: 1rem 1.5rem;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
        line-height: 20px;
        cursor: pointer;
        font-weight: 400;
        transition: background-color 0.3s;
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1rem);
        border-radius: 1.5rem;
        background-color: #86868b35;
        border: 1px solid #f5f5f715;
        transition: border-color 0.3s ease;
      }

      .project-button:hover {
        border: 1px solid #f5f5f735;
      }

      .carousel-buttons-wrapper {
        width: 1260px;
        margin: -1rem auto;
      }

      .carousel-buttons {
        display: flex;
        gap: 1rem;
      }

      .prev-button,
      .next-button {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: #333336;
        border: none;
        cursor: pointer;
        transition: background 100ms linear;
      }

      .prev-button svg path,
      .next-button svg path {
        fill: #ffffff80;
        transition: fill 100ms linear;
      }

      .prev-button:hover svg path,
      .next-button:hover svg path {
        fill: rgba(255, 255, 255, 0.8);
      }

      .prev-button:focus,
      .next-button:focus {
        outline: none;
      }

      .prev-button:hover,
      .next-button:hover {
        background: #37373a;
      }

      .prev-button.disabled,
      .next-button.disabled {
        pointer-events: none;
        opacity: 0.36;
        transition: opacity 0.1s linear;
      }

      .project-details {
        display: flex;
        max-width: 1260px;
        margin: 0 auto;
        justify-content: space-between;
        padding-bottom: 7.5rem;
        gap: 5rem;
      }

      .list-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        flex: 1;
      }

      .list-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      .overview {
        background-color: var(--gray-background);
        display: flex;
        flex-direction: column;
        padding: 10rem 0;
        gap: 2.5rem;
      }

      .fadeup {
        opacity: 0;
      }

      .grayheading {
        color: #86868b;
        font-size: 3.5rem;
        font-weight: 600;
        text-align: left;
        text-decoration: none;
        user-select: none;
      }

      .grayheading.inline {
        width: 1260px;
        margin: 0 auto;
      }

      .blackborder {
        display: flex;
        flex-direction: column;
        background: black;
        border-radius: 28px;
        max-width: 95.25rem;
        margin: 0 auto;
        padding: 8.25rem;
        gap: 3rem;
      }

      .carousel {
        display: flex;
        overflow: auto;
        max-width: none;
        scroll-snap-type: x mandatory;
        scroll-padding: 0 20px;
        gap: 20px;
        padding-left: calc((100% - 1260px) / 2);
        padding-right: calc((100% - 1260px) / 2);
        scrollbar-width: none;
      }

      .carousel::-webkit-scrollbar {
        display: none;
      }

      .image-gallery {
        width: 1260px;
        height: auto;
        position: relative;
      }

      .carousel .item {
        scroll-snap-align: center;
        flex-shrink: 0;
      }

      .item {
        position: relative;
        border-radius: 28px;
      }

      .item img {
        width: 100%;
        height: 100%;
      }

      .dark-glassbox {
        border-radius: 1.5rem;
        backdrop-filter: blur(1rem);
        border: 1px solid #f5f5f715;
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
      }

      .padding {
        padding: 3rem 0;
      }

      .project-section {
        display: flex;
        flex-direction: column;
        gap: 10rem;
        max-width: 1260px;
        margin: 0 auto;
        padding: 200px 0;
      }

      .title {
        font-size: 2rem;
        color: #f5f5f7;
        text-decoration: none;
        user-select: none;
        flex: 1;
        font-weight: 600;
      }

      .project-content {
        display: flex;
        flex-direction: column;
        width: 980px;
        margin: 0 auto;
        gap: 10rem;
      }

      .subsection {
        font-size: 80px;
        line-height: 84px;
        font-weight: 600;
        color: #f5f5f7;
        text-decoration: none;
        user-select: none;
      }

      .center {
        text-align: center;
      }

      .text-description,
      .heading-description {
        color: var(--description-text);
        user-select: none;
        line-height: 29px;
        font-weight: 600;
        font-size: 21px;
        flex: 1;
        font-weight: 600;
        display: inline;
      }

      .content-details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .content-details.col {
        flex-direction: column;
        gap: 3rem;
      }

      .subheading {
        font-size: 1.5rem;
        color: #f5f5f7;
        text-decoration: none;
        user-select: none;
        flex: 1;
        font-weight: 500;
      }

      .image-wrapper {
        display: flex;
        flex-direction: column;
        gap: 3rem;
      }

      .image-wrapper.row {
        gap: 3rem;
      }

      .section-heading {
        display: flex;
        flex-direction: column;
        gap: 10rem;
      }

      .image-row {
        display: flex;
        flex-direction: row;
        width: auto;
        margin: 0 auto;
        max-width: 100%;
        gap: 5rem;
      }

      .preview-header {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin: 0 auto;
      }

      .box {
        max-width: 33.33%;
      }

      .highlight {
        color: #f5f5f7;
      }

      .large {
        font-size: 28px;
        line-height: 34px;
      }

      .xlarge {
        font-size: 48px;
        line-height: 52px;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        padding: 39px 46px;
      }

      .content-preview {
        display: flex;
        flex-direction: column;
        gap: 10rem;
      }

      .content {
        margin: 0 auto;
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: space-between;
      }

      .reverse {
        flex-direction: row-reverse;
      }

      .half {
        width: 50%;
      }

      .preview-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10rem;
      }

      .border-box {
        display: flex;
        flex: 1;
        gap: 25px;
        justify-content: space-around;
      }

      .border-box.row {
        display: flex;
        flex-direction: row;
        flex: 1;
      }

      .gap {
        gap: 10em;
      }

      .box-content {
        background: #161617;
        padding: 3rem 2rem;
        color: #868686;
        user-select: none;
        line-height: 1.6;
        font-weight: 430;
        flex: 1;
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.25);
        border-radius: 30px;
      }

      .box-content.nobg {
        background: none;
        padding: 0;
      }

      .content-vert {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }

      .icon-wrapper {
        padding-bottom: 1rem;
      }

      .small {
        font-size: 19px;
      }

      .icon {
        width: 3rem;
        height: 3rem;
      }

      .content-hor {
        display: flex;
        flex-direction: row;
        gap: 1.75rem;
        align-items: center;
      }

      .no-padding {
        padding: 0 0 0 0;
      }

      .icon.large {
        width: 5rem;
        height: 5rem;
      }

      .project-image {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        user-select: none;
        border-radius: 1rem;
      }

      .img-center {
        max-width: 100%;
        height: 100%;
        width: 100%;
        display: block;
        margin: 0 auto;
      }

      .img-center.icon {
        max-width: 400px;
        height: 100%;
        width: 100%;
        display: block;
        margin: 0 auto;
      }

      .mobile-image {
        display: none;
      }

      /* media queries */
      @media (max-width: 1270px) {
        .project-details {
          padding-bottom: 7.5rem !important;
        }

        .carousel {
          padding-left: calc((100%) / 2);
          padding-right: calc((100%) / 2);
        }

        .image-gallery {
        }

        .item {
          height: auto;
        }

        .project-details {
          padding: 0 10%;
        }

        .project-section {
          padding: 200px 10%;
        }

        .overview.end {
          padding: 10rem 10%;
        }

        .carousel-buttons-wrapper {
          width: 100%;
          padding: 0 10%;
        }

        .grayheading.inline {
          width: 100%;
          padding: 0 10%;
        }

        .project-content {
          width: 100%;
        }

        .half {
          width: 75%;
        }
      }

      @media (max-width: 1068px) {
        .project-title {
          font-size: 48px;
        }

        .heading-description {
          font-size: 17px;
        }

        .project-header-details {
          gap: 8px;
          margin: -36px 0;
        }

        .project-content {
          width: 100%;
        }

        .image-row.stats {
          gap: 3rem;
          justify-content: space-between;
          flex-direction: column;
        }

        .blackborder {
          padding: 6rem;
        }

        .preview-header {
          width: 75%;
        }
      }

      @media (max-width: 779px) {
        .project-header-wrapper {
          height: 100%;
          padding: 100px 0 100px 0;
        }
        .project-title {
          font-size: 40px;
        }

        .text-description {
          font-size: 19px;
        }

        .project-header-details {
          gap: 0;
          padding: 0 5%;
          margin: 0;
        }

        .project-details {
          padding: 0;
          flex-direction: column;
        }

        .list-item {
          gap: 0.3rem;
        }

        .list-container {
          gap: 1rem;
        }

        .overview {
          padding: 100px 0;
        }

        .project-details {
          gap: 3rem;
          padding: 0 5%;
        }

        .grayheading.inline {
          padding: 0 5%;
        }

        .grayheading {
          font-size: 32px;
        }

        .subsection {
          font-size: 48px;
          line-height: 1.0834933333;
        }

        .content {
          flex-direction: column;
        }

        .content-preview,
        .project-section,
        .preview-wrapper,
        .section-heading {
          gap: 100px;
        }

        .project-section {
          padding: 100px 5%;
        }

        .content-details {
          flex-direction: column;
          gap: 0.5rem;
        }

        .project-content {
          width: 100%;
          gap: 100px;
        }

        .xlarge,
        .title {
          font-size: 28px;
        }

        .image-row {
          flex-direction: column;
          gap: 3rem;
        }

        .content-details.padding {
          flex-direction: row;
        }

        .border-box.row,
        .border-box {
          flex-wrap: wrap;
          flex-basis: 100%;
        }

        .icon {
          width: 2rem;
          height: 2rem;
        }

        .image-row.nowrap {
          flex-direction: row;
        }

        .blackborder {
          padding: 5rem 3rem;
        }

        .gap {
          gap: 50px;
        }

        .icon.large {
          width: 3rem;
          height: 3rem;
        }

        .icon-wrapper {
          padding-bottom: 0;
        }

        .title.large.highlight {
          font-size: 21px;
        }

        .content-vert {
          gap: 0.5rem;
        }

        .text-description.small {
          font-size: 17px;
        }

        .box-content {
          padding: 2rem 2rem;
          min-width: 210px;
        }

        .border-box.row.gap {
          flex-direction: column;
        }

        .carousel-buttons-wrapper {
          padding: 0 5%;
        }

        .preview {
          width: 75%;
        }

        .preview-header {
          gap: 1.5rem;
          width: 100%;
        }

        .mobile-image {
          display: block;
        }

        .def-image {
          display: none;
        }

        .project-thumbnail img {
          margin: 25px 0;
        }
      }
    </style>
    <script>
      import gsap from "gsap";
      import ScrollTrigger from "gsap/ScrollTrigger";

      window.gsap = gsap;
      window.ScrollTrigger = ScrollTrigger;

      gsap.registerPlugin(ScrollTrigger);
      gsap.config({ nullTargetWarn: false });
    </script>
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
