---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
const { title, description, canonical } = Astro.props;

import { join } from "node:path";
import { AstroFont } from "astro-font";

const fontPrefix = import.meta.env.PROD
  ? "/fonts"
  : join(process.cwd(), "public", "fonts");
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#111111" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
    <AstroFont
      config={[
        {
          name: "Editorial New",
          src: [
            {
              style: "italic",
              weight: "500",
              path: join(
                fontPrefix,
                "fonts",
                "PPEditorialNew-MediumItalic.woff2"
              ),
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
        {
          name: "SF Pro Display",
          src: [
            {
              style: "normal",
              weight: "400",
              path: join(fontPrefix, "SF-Pro-Display-Regular.woff2"),
            },
            {
              style: "normal",
              weight: "500",
              path: join(fontPrefix, "SF-Pro-Display-Medium.woff2"),
            },
            {
              style: "normal",
              weight: "600",
              path: join(fontPrefix, "SF-Pro-Display-Semibold.woff2"),
            },
            {
              style: "normal",
              weight: "700",
              path: join(fontPrefix, "SF-Pro-Display-Bold.woff2"),
            },
          ],
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "sans-serif",
        },
      ]}
    />
    <script>
      import gsap from "gsap";
      import ScrollTrigger from "gsap/ScrollTrigger";

      window.gsap = gsap;
      window.ScrollTrigger = ScrollTrigger;

      gsap.registerPlugin(ScrollTrigger);
      gsap.config({ nullTargetWarn: false });
    </script>
  </head>

  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
